Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

chore(deps): update node.js from 20.19.5-slim to 20.19.6-slim
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.4.6
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.bouncycastle:bcpkix-jdk18on from 1.82 to 1.83
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/redpandadata/console docker tag from v3.3.1 to v3.3.2
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

INOA-426 Reconfigure influxdb
  fluxcd/live/qas/influxdb/secrets.yaml
Due: lint, yaml, kustomize

INOA-426 Adjust secrets
  fluxcd/live/qas/influxdb/secrets.yaml
  fluxcd/live/qas/inoa/secrets.yaml
Due: lint, yaml, kustomize

INOA-462 Adjust datasource to new token
  fluxcd/live/qas/grafana/datasources/datasources.yaml
Due: lint, yaml, kustomize

INOA-426 Refactor dashboards as GrafanDashboards
  fluxcd/base/grafana/dashboards/kustomization.yaml
  fluxcd/base/grafana/dashboards/minify.sh
  fluxcd/base/grafana/files/dashboards.yaml
  fluxcd/base/grafana/grafana-dashboards/ems/dashboards-ems.yaml
  fluxcd/base/grafana/grafana-dashboards/ems/files/inoa-ems-power-data.json
  fluxcd/base/grafana/grafana-dashboards/ems/kustomization.yaml
  fluxcd/base/grafana/grafana-dashboards/fleet/dashboards-fleet.yaml
  fluxcd/base/grafana/grafana-dashboards/fleet/files/inoa-fleet-iot.json
  fluxcd/base/grafana/grafana-dashboards/fleet/files/inoa-fleet-temperature.json
  fluxcd/base/grafana/grafana-dashboards/fleet/kustomization.yaml
  fluxcd/base/grafana/grafana-dashboards/kustomization.yaml
Due: lint, yaml, shellcheck, kustomize

INAO-426 Fix configMapRef
  fluxcd/base/grafana/grafana-dashboards/ems/dashboards-ems.yaml
Due: lint, yaml, kustomize

INOA-462 Fix
  fluxcd/base/grafana/grafana-dashboards/ems/dashboards-ems.yaml
Due: lint, yaml, kustomize

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update dependency org.apache.maven.plugins:maven-resources-plugin from 3.3.1 to 3.4.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.4.7
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.2 to 4.10.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency jasmine-core from 5.12.1 to 5.13.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @typescript-eslint/parser from 8.48.0 to 8.48.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @typescript-eslint/eslint-plugin from 8.48.0 to 8.48.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/traefik docker tag from v2.11.31 to v2.11.32
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/traefik:v2.11.32 docker digest to c8e1ab3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.2.0 to 3.3.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

Remove ems dashboards since they polute the alerting channel and are currently not needed
  fluxcd/base/grafana/grafana-dashboards/kustomization.yaml
Due: lint, yaml, kustomize

MIN-442 Build care
  .mvn/maven.config
  .tool-versions
Due: none

MIN-442 Adjust API to use dedicated RPC methods
  api/openapi.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Consolidate several Security classes to common singleton
  service/src/main/java/io/inoa/fleet/registry/rest/gateway/GatewayController.java
  service/src/main/java/io/inoa/fleet/registry/rest/gateway/PropertiesController.java
  service/src/main/java/io/inoa/fleet/registry/rest/gateway/Security.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/AuthContoller.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/ConfigurationController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/CredentialsController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GatewaysController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GroupsController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/Security.java
  service/src/main/java/io/inoa/measurement/things/rest/Security.java
  service/src/main/java/io/inoa/shared/Security.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Dedicated REST handler for remoting stuff
  service/src/main/java/io/inoa/fleet/remoting/RemotingHandler.java
  service/src/main/java/io/inoa/fleet/remoting/RemotingService.java
  service/src/main/java/io/inoa/fleet/remoting/rest/RemotingController.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Adjust UI to at least build with current API
  app/src/app/satellite-manager/gateway-detail/gateway-configuration/gateway-configuration.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-overview/gateway-overview.component.ts
  app/src/app/satellite-manager/gateway-table/gateway-table.component.ts
Due: build, deploy, verify, yarn

Temporary remove dashboards to silence alerts
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency @typescript-eslint/eslint-plugin from 8.48.1 to 8.49.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @typescript-eslint/parser from 8.48.1 to 8.49.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/library/postgres:17.7 docker digest to 1c2b6ae
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to b12539c
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to 929190a
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to 29a14aa
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7 docker digest to 33209bd
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7-distroless docker digest to 8dd60a3
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7 docker digest to 121f272
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7-distroless docker digest to 87f35d9
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update node.js to 1b38aad
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors
