Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, dockerfile, spotless, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml, docs/backstage/**
  kustomize: any of: fluxcd/**
  dockerfile: any of: **/Dockerfile
  spotless: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config

INOA-397 Fix complex thing repositiory
  service/src/main/java/io/inoa/measurement/things/domain/Measurand.java
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandType.java
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfigurationValue.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/domain/ThingRepositoryTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Implement finding things by gateways
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestClient.java
  api/openapi.yaml
  app/src/app/measurement-collector/measurement-collector.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/openapi/api/things.service.ts
  fluxcd/base/swagger-ui/files/openapi.yaml
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v10.3.12
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

Update dependency @angular-devkit/build-angular to v18.2.18
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Implement thing update
  api/gen/main/java/io/inoa/rest/MeasurandVO.java
  api/gen/main/java/io/inoa/rest/ThingUpdateConfigurationsInnerVO.java
  api/gen/main/java/io/inoa/rest/ThingUpdateVO.java
  api/openapi.yaml
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/openapi/model/models.ts
  app/src/openapi/model/thingUpdate.ts
  app/src/openapi/model/thingUpdateConfigurationsInner.ts
  fluxcd/base/swagger-ui/files/openapi.yaml
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Tests for thing update part I
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @angular/cli to v18.2.18
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency org.projectlombok:lombok to v1.18.38
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Remove findThings API and focus on gateway central approach
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestSpec.java
  api/openapi.yaml
  app/src/openapi/api/things.service.ts
  fluxcd/base/swagger-ui/files/openapi.yaml
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfigurationValueRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @angular-devkit/build-angular to v18.2.19
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @angular/cli to v18.2.19
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.20.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update Yarn to v4.7.0
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency eslint to v9.18.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency jasmine-core to ~5.6.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency jasmine-core to ~5.7.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Streamline datapoint builders
  service/src/main/java/io/inoa/measurement/things/builder/ConfigCreator.java
  service/src/main/java/io/inoa/measurement/things/builder/ConfigCreatorHolder.java
  service/src/main/java/io/inoa/measurement/things/builder/DatapointBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/DatapointBuilderException.java
  service/src/main/java/io/inoa/measurement/things/builder/DatapointService.java
  service/src/main/java/io/inoa/measurement/things/builder/http/HttpBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusDVH4013Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/test/java/io/inoa/measurement/things/builder/AbstractBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/DatapointServiceTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusDVH44013BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006BuilderTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Fix tests
  service/src/test/java/io/inoa/measurement/things/builder/DatapointServiceTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.21.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: kustomize

Moved yarn lint from pom to dedicated ci and added tests again, ref #430
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
  app/.yarnrc.yml
  app/pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Reviewed ci, tried to simplify
  .gitea/CODEOWNERS
  .justfile
  .markdownlint.yaml
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .woodpecker/maven/registries.yml
  .woodpecker/maven/settings.xml
  .woodpecker/plugin.yaml
  .woodpecker/plugin/Dockerfile
  .woodpecker/verify.yaml
  .yamllint.yaml
  api/pom.xml
  app/.yarnrc.yml
  app/pom.xml
  image/pom.xml
  image/src/docker/Dockerfile
  image/src/docker/Dockerfile.dockerignore
  pom.xml
  renovate.json
  service/pom.xml
  service/src/main/resources/application-k8s.yaml
  src/eclipse/formatter.xml
  test/pom.xml
  yarn.lock
Due: build, dockerfile, spotless, plugin, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.31.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @types/jasmine to v5.1.8
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.8.2
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency eslint to v9.26.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency jasmine-core to v5.7.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency org.openapitools:openapi-generator-maven-plugin to v7.13.0
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v10.4.18
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

Update Yarn to v4.8.1
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update Yarn to v4.9.1
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Fix non-compiling stuff
  service/pom.xml
  service/src/main/java/io/inoa/app/KeycloakEndSessionEndpointResolver.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency zone.js to v0.14.10
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency monaco-editor to ^0.51.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency monaco-editor to ^0.52.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency tslib to v2.7.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v11
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

Update dependency zone.js to ~0.15.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v12
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

Update docker.io/redpandadata/console Docker tag to v3
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: kustomize
