Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, dockerfile, spotless, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands:
  - kubectl kustomize ./fluxcd/live/qas
  - kubectl kustomize ./fluxcd/live/prod

dockerfile:
  image: ghcr.io/grayc-de/plugins/hadolint

spotless:
  image: ghcr.io/grayc-de/plugins/inoa
  commands:
  - mvn validate

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS
    DOCKER_CONFIG_JSON:
      from_secret: DOCKER_CONFIG_JSON
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

test-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn test --no-progress --no-watch
  failure: ignore

INOA-404 Fix Kustomize errors
  api/pom.xml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
  fluxcd/base/swagger-ui/kustomization.yaml
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Rename "Dev" to "QAS" stage to follow naming conventions
  fluxcd/live/qas/hawkbit/config.env
  fluxcd/live/qas/hawkbit/kustomization.yaml
  fluxcd/live/qas/influxdb/config.env
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/influxdb/pvc.yaml
  fluxcd/live/qas/inoa/config.env
  fluxcd/live/qas/inoa/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
  fluxcd/live/qas/kafka/pvc.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/service-account/kustomization.yaml
  fluxcd/live/qas/service-account/rbac.yaml
Due: kustomize

INOA-404 Add Kafka UI
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/kafka-console/kustomization.yaml
  fluxcd/base/kafka/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
Due: kustomize

INOA-404 Remove "Kiste" as Kustomization
  fluxcd/kiste/dev/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/config.env
  fluxcd/kiste/dev/mcnoize/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/statefulset.yaml
  fluxcd/kiste/prod/kustomization.yaml
Due: kustomize

INOA-404 Fix build and linter
  .woodpecker/lint.yaml
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/keycloak/ingress.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  fluxcd/live/qas/keycloak/realm.yaml
  fluxcd/live/qas/keycloak/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/postgres/config.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Exclude Prod from build pipeline until ready
  .woodpecker/lint.yaml
Due: none

INOA-404 Clear PROD stage - will be done later
  fluxcd/live/prod/.gitkeep
  fluxcd/live/prod/hawkbit/config.env
  fluxcd/live/prod/hawkbit/kustomization.yaml
  fluxcd/live/prod/influxdb/config.env
  fluxcd/live/prod/influxdb/kustomization.yaml
  fluxcd/live/prod/influxdb/pvc.yaml
  fluxcd/live/prod/inoa/config.env
  fluxcd/live/prod/inoa/kustomization.yaml
  fluxcd/live/prod/kafka-console/kustomization.yaml
  fluxcd/live/prod/kafka/kustomization.yaml
  fluxcd/live/prod/kafka/pvc.yaml
  fluxcd/live/prod/kustomization.yaml
  fluxcd/live/prod/public/documentation/deployment.yaml
  fluxcd/live/prod/public/documentation/ingress.yaml
  fluxcd/live/prod/public/documentation/kustomization.yaml
  fluxcd/live/prod/public/documentation/service.yaml
  fluxcd/live/prod/public/kustomization.yaml
  fluxcd/live/prod/public/redirect/ingress.yaml
  fluxcd/live/prod/public/redirect/kustomization.yaml
Due: kustomize

INOA-404 Add postgres
  fluxcd/base/postgres/deployment.yaml
  fluxcd/base/postgres/disk.yaml
  fluxcd/base/postgres/kustomization.yaml
  fluxcd/base/postgres/service.yaml
  fluxcd/live/qas/postgres/config.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Add namespace and begin with clean kustomization
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/namespace.yaml
Due: kustomize

INOA-404 Add InfluxDB
  fluxcd/base/influxdb/kustomization.yaml
  fluxcd/base/influxdb/pvc.yaml
  fluxcd/live/qas/influxdb/config.env
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
Due: kustomize

INO-404 Start with Postgres deployment
  fluxcd/base/postgres/deployment.yaml
  fluxcd/base/postgres/disk.yaml
  fluxcd/base/postgres/kustomization.yaml
  fluxcd/base/postgres/pvc.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
Due: kustomize

INOA-404 Add SwaggerUI
  fluxcd/base/swagger-ui/deployment.yaml
  fluxcd/base/swagger-ui/ingress.yaml
  fluxcd/base/swagger-ui/kustomization.yaml
  fluxcd/base/swagger-ui/service.yaml
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: kustomize

INOA-404 Add Grafana
  fluxcd/base/grafana/dashboards/ems/inoa-ems-power-data.json
  fluxcd/base/grafana/dashboards/fleet/inoa-fleet-iot.json
  fluxcd/base/grafana/dashboards/fleet/inoa-fleet-temperature.json
  fluxcd/base/grafana/dashboards/kustomization.yaml
  fluxcd/base/grafana/dashboards/minify.sh
  fluxcd/base/grafana/deployment.yaml
  fluxcd/base/grafana/files/dashboards.yaml
  fluxcd/base/grafana/files/datasources.yaml
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/base/grafana/rbac.yaml
  fluxcd/base/grafana/service.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Fix SOPS data
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  fluxcd/live/qas/keycloak/secrets.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Fix secret name for postgres
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Fix FS group access for postgres
  fluxcd/base/postgres/deployment.yaml
Due: kustomize

INOA-404 Fix ingress host for Keycloak
  fluxcd/base/keycloak/deployment.yaml
  fluxcd/base/keycloak/ingress.yaml
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: kustomize

INOA-404 Fix postgres startup
  fluxcd/base/postgres/deployment.yaml
Due: kustomize

INOA-404 Move image tags to stages
  fluxcd/base/postgres/kustomization.yaml
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
Due: kustomize

INOA-404 Fix INOA Keycloak realm
  fluxcd/live/qas/keycloak/realm.yaml
Due: kustomize

INOA-404 Add Hawkbit to QAS
  docs/backstage/system-inoa-cloud.yaml
  fluxcd/base/hawkbit/ingress.yaml
  fluxcd/base/hawkbit/kustomization.yaml
  fluxcd/live/qas/hawkbit/kustomization.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: backstage, kustomize

INOA-404 Adjust Backstage links
  docs/backstage/system-inoa-cloud.yaml
Due: backstage

INOA-404 Fix INOA realm login
  fluxcd/live/qas/keycloak/realm.yaml
Due: kustomize

INOA-404 Obey linter
  docs/backstage/system-inoa-cloud.yaml
Due: backstage

INOA-404 Adjust Hawkbit links
  docs/backstage/system-inoa-cloud.yaml
  fluxcd/base/hawkbit/kustomization.yaml
Due: backstage, kustomize

INOA-404 Add SwaggerUI to QAS
  api/openapi.yaml
  docs/backstage/system-inoa-cloud.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: build, backstage, kustomize, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Fix openapi file Kustomization error
  fluxcd/base/swagger-ui/files/openapi.yaml
Due: kustomize

INOA-404 Skip waiting for Keycloak and use GrayC Keycloak for logins
  fluxcd/base/swagger-ui/deployment.yaml
  fluxcd/base/swagger-ui/ingress.yaml
Due: kustomize

INOA-404 Add Kafka to QAS
  fluxcd/base/kafka/pvc.yaml
  fluxcd/base/kafka/statefulset.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
  fluxcd/live/qas/kafka/pvc.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Activate grafana (#399)
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 (#400)
  docs/backstage/system-inoa-cloud.yaml
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/kafka/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kustomization.yaml
Due: backstage, kustomize

INOA-404 Disable substitution for generated cm
  fluxcd/base/grafana/dashboards/kustomization.yaml
Due: kustomize

INOA-404 Group Backstage links to stages
  docs/backstage/system-inoa-cloud.yaml
Due: backstage

INOA-404 Add Grafana to Backstage for QAS
  docs/backstage/system-inoa-cloud.yaml
Due: backstage

INOA-404 Remove dashboards
  fluxcd/base/grafana/kustomization.yaml
Due: kustomize

INOA-404 Fix resources
  fluxcd/base/grafana/deployment.yaml
Due: kustomize

INOA-404 Add InfluxDB to QAS
  docs/backstage/system-inoa-cloud.yaml
  fluxcd/base/influxdb/deployment.yaml
  fluxcd/base/influxdb/ingress.yaml
  fluxcd/base/influxdb/kustomization.yaml
  fluxcd/base/influxdb/pvc.yaml
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: backstage, kustomize

INOA-404 Fix Grafana variables
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

INOA-404 Fix TLS secret for SwaggerUI on QAS
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/swagger-ui/ingress.yaml
Due: kustomize

INOA-404 Fix InfluxDB ingress on QAS
  fluxcd/base/influxdb/ingress.yaml
Due: kustomize

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml, docs/backstage/**
  kustomize: any of: fluxcd/**
  dockerfile: any of: **/Dockerfile
  spotless: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
