Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: kokuwaio/docker-cli
      commands:
      - docker login ghcr.io --username=$GHCR_USERNAME --password=$GHCR_PASSWORD
  ...

deploy:
  steps:
    deploy:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        platform: linux/amd64
        build-args:
          MAVEN_MIRROR_CENTRAL: ${MAVEN_MIRROR_CENTRAL}
          YARN_NPM_REGISTRY_SERVER: ${YARN_NPM_REGISTRY_SERVER}
          YARN_UNSAFE_HTTP_WHITELIST: ${YARN_UNSAFE_HTTP_WHITELIST}
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .yamllint.yaml
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck:v0.11.0
  depends_on: []

backstage:
  image: kokuwaio/backstage-entity-validator:0.5.1
  settings:
    files: catalog-info.yaml docs/backstage/**/*.yaml
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs:latest
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  - inoa/System/inoa-cloud
  - --directory
  - docs/target
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS

verify:
  steps:
    image:
      image: kokuwaio/docker-cli
      depends_on: []
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
  ...

maven:
  image: docker.io/library/maven:3.9.10-eclipse-temurin-21@sha256:193ed19a4806b4bbad65b2e8a2a9bbf901b6e216eb0d5761c70c2c4537cd53d7
  depends_on: []
  commands: mvn install --settings=$CI_WORKSPACE/.woodpecker/maven/settings.xml

yarn:
  image: kokuwaio/node:20-chrome
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to e6a17f4
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @types/jasmine from 5.1.8 to 5.1.9
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/library/postgres docker tag from 17.5 to 17.6
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to fe1de86
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.39.1 to 8.40.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/redpandadata/console docker tag from v3.1.3 to v3.2.0
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.3.3
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.openapitools:jackson-databind-nullable from 0.2.6 to 0.2.7
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.core from 4.9.9 to 4.9.10
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update yarn from 4.9.2 to 4.9.3
  app/package.json
Due: build, deploy, verify, yarn

chore(deps): update version.io.micronaut.data from 4.13.3 to 4.13.4
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.openapitools:openapi-generator-maven-plugin from 7.14.0 to 7.15.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency eslint from 9.33.0 to 9.34.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update node.js to 6db5e43
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

maintenance Config grafana completely as cr and remove configmap
  fluxcd/base/grafana/grafana.yaml
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize

maintenance fix grafana config
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

maintenance fix typo
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

maintenance fix config of init container
  fluxcd/base/grafana/grafana.yaml
  fluxcd/live/qas/grafana/secrets.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/traefik docker tag from v2.11.28 to v2.11.29
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.9.2 to 4.9.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/redpandadata/console docker tag from v3.2.0 to v3.2.1
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update yarn from 4.9.3 to 4.9.4
  app/package.json
Due: build, deploy, verify, yarn

chore(deps): update typescript-eslint from 8.40.0 to 8.41.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency jasmine-core from 5.9.0 to 5.10.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 1546c7d
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 763d03e
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.41.0 to 8.42.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update @angular from 18.2.13 to 18.2.14
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update @angular-cli from 18.2.20 to 18.2.21
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency org.projectlombok:lombok from 1.18.38 to 1.18.40
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/redpandadata/console docker tag from v3.2.1 to v3.2.2
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update version.io.micronaut.core from 4.9.10 to 4.9.11
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 674ec81
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.projectlombok:lombok from 1.18.40 to 1.18.42
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.3.4
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js from 20.19.4-slim to 20.19.5-slim
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.org.apache.maven.plugins.surefire from 3.5.3 to 3.5.4
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.apache.maven.plugins:maven-compiler-plugin from 3.14.0 to 3.14.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
