Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  depends_on: []
  commands:
  - kubectl kustomize ./fluxcd/kiste/dev
  - kubectl kustomize ./fluxcd/kiste/prod
  - kubectl kustomize ./fluxcd/live/dev
  - kubectl kustomize ./fluxcd/live/prod

maven:
  image: ghcr.io/grayc-de/plugins/inoa
  depends_on: []
  commands:
  - mvn validate

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS
    DOCKER_CONFIG_JSON:
      from_secret: DOCKER_CONFIG_JSON
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

Namespace in techdocs publsih was wrong :-(. (#350)
  .woodpecker/techdocs.yaml
Due: techdocs, publish

Update @typescript-eslint to v8.19.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency markdownlint to v0.37.3
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update Yarn to v4.6.0
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Fixed techdocs links and source refs. (#351)
  docs/backstage/api-inoa-fleet.yaml
  docs/backstage/api-inoa-hawkbit.yaml
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-groundcontrol.yaml
  docs/backstage/component-inoa-hawkbit.yaml
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/component-inoa-keycloak.yaml
  docs/backstage/component-inoa-postgres.yaml
  docs/backstage/system-inoa-cloud.yaml
Due: none

spotlessed
  test/src/test/k3s/test/inoa/deployment.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.19.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @types/leaflet to v1.9.16
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

embedding finally works reliable (fingers crossed), but with wide open security which should probably be looked at again in the future
  app/src/index.html
  test/src/test/k3s/dev/grafana/kustomization.yaml
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

another attempt to make the grafana login work again
  test/src/test/k3s/dev/grafana/kustomization.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.8.2
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

dashboard corrections
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
  test/src/test/k3s/dev/grafana/kustomization.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

small dashboard layout adjustment
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

changed dashboard to 3h view
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

added time window parameter directly to the grafana dashboard url
  app/src/app/ems-dashboard/ems-dashboard.component.ts
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Adjusted API to fit new schema
  api/openapi.yaml
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Adjust SQL model to fit new schema
  service/src/main/java/io/inoa/measurement/things/builder/ConfigCreatorHolder.java
  service/src/main/java/io/inoa/measurement/things/builder/ThingMapper.java
  service/src/main/java/io/inoa/measurement/things/builder/ThingTypeMapper.java
  service/src/main/java/io/inoa/measurement/things/builder/http/HttpBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/main/java/io/inoa/measurement/things/domain/Measurand.java
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandProtocol.java
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandType.java
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandTypeRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ObisId.java
  service/src/main/java/io/inoa/measurement/things/domain/Property.java
  service/src/main/java/io/inoa/measurement/things/domain/PropertyDefinition.java
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfiguration.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfigurationType.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfigurationValue.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingType.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fixed spotless error. (#360)
  test/src/test/k3s/test/inoa/deployment.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Make App project buildable
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/app/measurement-collector/measurement-collector.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
  app/src/app/services/utility-service.ts
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Rise Kokuwa versions
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Switch from records to data objects
  service/src/main/java/io/inoa/measurement/things/builder/ConfigCreatorHolder.java
  service/src/main/java/io/inoa/measurement/things/builder/http/HttpBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/main/java/io/inoa/measurement/things/domain/Measurand.java
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandType.java
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfiguration.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfigurationValue.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingType.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusDVH44013BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Remove legacy operations
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestSpec.java
  api/openapi.yaml
  api/pom.xml
  app/src/openapi/api/things.service.ts
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Use new thing type structure in builders
  .mvn/maven.config
  service/src/main/java/io/inoa/measurement/things/builder/ConfigCreator.java
  service/src/main/java/io/inoa/measurement/things/builder/ConfigException.java
  service/src/main/java/io/inoa/measurement/things/builder/http/HttpBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusDVH4013Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/main/java/io/inoa/measurement/things/domain/ObisId.java
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusDVH44013BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006BuilderTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Added gitea-slug for backstage entity
  docs/backstage/system-inoa-cloud.yaml
Due: none

Update dependency org.keycloak.bom:keycloak-bom-parent to v26.0.8
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Re-add category to thingtype and fix database joins
  api/gen/main/java/io/inoa/rest/ThingTypeUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeVO.java
  api/gen/main/java/io/inoa/rest/ThingVO.java
  api/openapi.yaml
  api/pom.xml
  app/src/openapi/model/thing.ts
  app/src/openapi/model/thingType.ts
  app/src/openapi/model/thingTypeUpdate.ts
  pom.xml
  service/pom.xml
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingType.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingTypeCategory.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingTypeRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/MeasurandTypeMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingConfigurationMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingTypeMapper.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Added creation of thing types to API
  api/gen/main/java/io/inoa/rest/ThingTypeCategoryVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeProtocolVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypesApi.java
  api/gen/test/java/io/inoa/rest/ThingTypesApiTestClient.java
  api/openapi.yaml
  app/src/openapi/api/thingTypes.service.ts
  app/src/openapi/model/models.ts
  app/src/openapi/model/thingType.ts
  app/src/openapi/model/thingTypeCategory.ts
  app/src/openapi/model/thingTypeCreate.ts
  app/src/openapi/model/thingTypeProtocol.ts
  service/src/main/java/io/inoa/measurement/things/domain/ThingType.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/MeasurandMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingConfigurationValueMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingTypeMapper.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
  service/src/test/resources/application-test.yaml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency org.bouncycastle:bcpkix-jdk18on to v1.80
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.11.1
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.20.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.21.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.22.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.23.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.24.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.9.0
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.7.16
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @types/jasmine to v5.1.7
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
