Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

chore(deps): update docker.io/library/maven docker tag from 3.9.10-eclipse-temurin-21 to 3.9.11-eclipse-temurin-21
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency jasmine-core from 5.8.0 to 5.9.0
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to bca347d
  Dockerfile
Due: build, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.37.0 to 8.38.0
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

removed unused import
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
Due: build, verify, yarn

removed formly pacakage and all references to formly (will not be used anymore)
  app/package.json
  app/src/app/app.module.ts
  app/src/app/dialogs/thing-creation-dialog/array.type.ts
  app/src/app/dialogs/thing-creation-dialog/multischema.type.ts
  app/src/app/dialogs/thing-creation-dialog/null.type.ts
  app/src/app/dialogs/thing-creation-dialog/object.type.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/assets/thing-types/dzg_dvh4013.json
  app/src/assets/thing-types/dzg_mdvh4006.json
  app/src/assets/thing-types/shelly_plug_s.json
  app/src/assets/thing-types/shelly_plus_pm2.json
  app/yarn.lock
  renovate.json
Due: build, lint, renovate, verify, maven, yarn, integration-prepare, integration-test, integration-errors

INOA-435 Added more thing types
  api/pom.xml
  pom.xml
  service/pom.xml
  service/src/main/resources/db/migration/V007__add_more_thing_types.sql
  test/pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

INOA-437 Load all thingtypes with measurands and configurations
  service/src/main/java/io/inoa/measurement/things/domain/ThingTypeRepository.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

savepoint
  app/src/app/satellite-manager/gateway-detail/gateway-overview/gateway-overview.component.ts
  app/src/app/services/dialog-service.ts
Due: build, verify, yarn

chore(deps): update node.js to ef358d9
  Dockerfile
Due: build, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/traefik docker tag from v2.11.27 to v2.11.28
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

Made template clean.
  .env.template
Due: none

Switched Proxy Configuration for node proxy from INOA_DOMAIN to IP.
  app/src/proxy.conf.mjs
Due: build, verify, yarn

Added Logiin with Google / GrayC IdP configuration. Onece for DEV and another for QAS. PROD doesnt exist at the moment.
  .env.template
  .justfile
  fluxcd/live/qas/keycloak/realm.yaml
  pom.xml
  test/src/test/k3s/test/keycloak/realm.json
Due: build, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.7.23 to 4.7.26
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

new dynamic form for thing creation + fixes
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.css
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
Due: build, verify, yarn

chore(deps): update dependency org.projectlombok:lombok from 1.18.36 to 1.18.38
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

git chaos
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_BACKUP_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_BASE_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_LOCAL_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_REMOTE_950708.ts
Due: build, verify, yarn

thingTypeCategory Fix
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_BACKUP_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_BASE_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_LOCAL_950708.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component_REMOTE_950708.ts
  app/src/app/measurement-collector/measurement-collector.component.html
  app/src/app/services/thing-category.service.ts
  app/src/app/services/utility-service.ts
  app/src/assets/thing-categories/categories.json
Due: build, verify, yarn

chore(deps): update docker.io/redpandadata/console docker tag from v3.1.2 to v3.1.3
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

Refactor gateway datapoints table styling and structure
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/services/utility-service.ts
Due: build, verify, yarn

Added the ui local launch to the just file. Also fixed the Keycloak realm. There was an error in the sops version.
  .justfile
  app/.yarnrc.yml
  app/src/proxy.conf.mjs
  fluxcd/live/qas/keycloak/realm.yaml
Due: build, lint, yaml, kustomize, verify, maven, yarn, integration-prepare, integration-test, integration-errors

INOA-436 Add authentication for gateways on MQTT (#697)
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestSpec.java
  api/openapi.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
  service/src/main/java/io/inoa/fleet/mqtt/MqttMetrics.java
  service/src/main/java/io/inoa/fleet/mqtt/auth/InoaAuthenticator.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/test/java/io/inoa/fleet/Data.java
  service/src/test/java/io/inoa/fleet/mqtt/handler/ConnectionHandlerTest.java
  service/src/test/java/io/inoa/fleet/mqtt/handler/MessageHandlerTest.java
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.7.26 to 4.8.18
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.7.26 to 4.9.8
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.10.5 to 4.11.2
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.10.5 to 4.12.2
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.10.5 to 4.13.3
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.validation:micronaut-validation-processor from 4.7.0 to 4.8.1
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.validation:micronaut-validation-processor from 4.7.0 to 4.9.0
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.validation:micronaut-validation-processor from 4.7.0 to 4.10.0
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

added thing type column back to thing table
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
Due: build, verify, yarn

removed double name from creation dialog thing selctor
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/satellite-manager/gateway-detail/rpc-history-panel/rpc-history-panel.component.html
Due: build, verify, yarn
