Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

savepoint
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/services/dialog-service.ts
  app/src/app/services/utility-service.ts
Due: build, verify, yarn

fixed cursed table expansion bug
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
Due: build, verify, yarn

chore(deps): update dependency eslint from 9.31.0 to 9.32.0
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

Add functionality to sync datapoints to gateway
  api/src/test/java/io/inoa/test/HttpAssertions.java
  service/src/main/java/io/inoa/fleet/remoting/RemoteController.java
  service/src/main/java/io/inoa/fleet/remoting/RemotingHandler.java
  service/src/main/java/io/inoa/fleet/remoting/RemotingService.java
  service/src/main/java/io/inoa/measurement/things/builder/DatapointBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/resources/db/migration/V008__fix_thing_types.sql
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
  service/src/test/java/io/inoa/measurement/things/builder/DatapointServiceTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusDVH44013BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/domain/ThingRepositoryTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

Add hint for test enhancement
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, verify, maven

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.10.5 to 4.13.3
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.7.26 to 4.9.8
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.validation:micronaut-validation-processor from 4.7.0 to 4.8.1
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.validation:micronaut-validation-processor from 4.8.1 to 4.10.0
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 1.6.0 to 2.0.0
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(renovate): remove default reviewers, will be done by `renovate-approve-bot`
  renovate.json
Due: lint, renovate

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.0.8-distroless to 26.2.2-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): adjust keycloak image
  pom.xml
  test/src/test/k3s/test/keycloak/deployment.yaml
  test/src/test/k3s/test/keycloak/kustomization.yaml
Due: build, lint, yaml, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.0.0 to 2.0.1
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(ci): use default maven images
  .woodpecker/verify.yaml
Due: lint, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.9.8 to 4.9.9
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.9.1 to 4.9.2
  pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): use boms for deps with annotation processors
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/shellcheck docker tag from v0.10.0 to v0.11.0
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize

chore(deps): update typescript-eslint from 8.38.0 to 8.39.0
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 83996a8
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to c5fedca
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to f9806cc
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to bdcafb2
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 0277732
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 1829262
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

INOA-426 Adjust probes
  fluxcd/base/keycloak/deployment.yaml
Due: lint, yaml, kustomize

INOA-426 Adjust config
  fluxcd/base/keycloak/deployment.yaml
Due: lint, yaml, kustomize

INOA-426 Drop fortward auth for grafana since we want to allow external users defined in QAS keycloak
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

INOA-426 Disable anonymous access for grafana
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize

INOA-437: Thing Verwaltung mit neuer API + Bugfixes (#726)
  .justfile
  app/package.json
  app/src/app/app.component.html
  app/src/app/app.component.ts
  app/src/app/app.module.ts
  app/src/app/dialogs/thing-creation-dialog/array.type.ts
  app/src/app/dialogs/thing-creation-dialog/multischema.type.ts
  app/src/app/dialogs/thing-creation-dialog/null.type.ts
  app/src/app/dialogs/thing-creation-dialog/object.type.ts
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.css
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/app/dialogs/thing-dialog/thing-dialog.component.css
  app/src/app/dialogs/thing-dialog/thing-dialog.component.html
  app/src/app/dialogs/thing-dialog/thing-dialog.component.ts
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  app/src/app/measurement-collector/measurement-collector.component.html
  app/src/app/measurement-collector/measurement-collector.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.css
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-overview/gateway-overview.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-overview/gateway-overview.component.ts
  app/src/app/satellite-manager/gateway-detail/rpc-history-panel/rpc-history-panel.component.html
  app/src/app/services/dialog-service.ts
  app/src/app/services/thing-category.service.ts
  app/src/app/services/utility-service.ts
  app/src/assets/thing-categories/categories.json
  app/src/assets/thing-types/dzg_dvh4013.json
  app/src/assets/thing-types/dzg_mdvh4006.json
  app/src/assets/thing-types/shelly_plug_s.json
  app/src/assets/thing-types/shelly_plus_pm2.json
  app/yarn.lock
  renovate.json
  service/src/main/java/io/inoa/measurement/things/domain/ThingTypeRepository.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
Due: build, lint, renovate, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.2.5
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.3.2
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(ci): push correct tag from main branch
  .woodpecker/deploy.yaml
Due: lint, yaml

chore(deps): update dependency eslint from 9.32.0 to 9.33.0
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

chore(deps): update typescript-eslint from 8.39.0 to 8.39.1
  app/package.json
  app/yarn.lock
Due: build, verify, yarn

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 4d04c5d
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, maven, yarn, integration-prepare, integration-test, integration-errors

INOA-426 Enable initial admin user creation
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize
