Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: kokuwaio/docker-cli
      commands:
      - docker login ghcr.io --username=$GHCR_USERNAME --password=$GHCR_PASSWORD
  ...

deploy:
  steps:
    deploy:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        platform: linux/amd64
        build-args:
          MAVEN_MIRROR_CENTRAL: ${MAVEN_MIRROR_CENTRAL}
          YARN_NPM_REGISTRY_SERVER: ${YARN_NPM_REGISTRY_SERVER}
          YARN_UNSAFE_HTTP_WHITELIST: ${YARN_UNSAFE_HTTP_WHITELIST}
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .yamllint.yaml
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck:v0.11.0
  depends_on: []

backstage:
  image: kokuwaio/backstage-entity-validator:0.5.1
  settings:
    files: catalog-info.yaml docs/backstage/**/*.yaml
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs:latest
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  - inoa/System/inoa-cloud
  - --directory
  - docs/target
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS

verify:
  steps:
    image:
      image: kokuwaio/docker-cli
      depends_on: []
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
  ...

maven:
  image: docker.io/library/maven:3.9.11-eclipse-temurin-21@sha256:5d6a18b40b2dc48c2182f9593968f96d8eefc50fc2ebf4671a10ca898dfcad1c
  depends_on: []
  commands: mvn install --settings=$CI_WORKSPACE/.woodpecker/maven/settings.xml

yarn:
  image: kokuwaio/node:20-chrome
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to c686362
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 7a73265
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.13.5 to 4.13.6
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to b948a41
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.data:micronaut-data-bom from 4.13.6 to 4.13.7
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/traefik:v2.11.29 docker digest to 20be0ef
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @types/leaflet from 1.9.20 to 1.9.21
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update version.io.micronaut.core from 4.9.12 to 4.10.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.46.0 to 8.46.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @types/jasmine from 5.1.9 to 5.1.10
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency io.micronaut.data:micronaut-data-bom from 4.13.7 to 4.13.8
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @types/jasmine from 5.1.10 to 5.1.11
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/kokuwaio/keycloak docker tag to v26.4.1
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to db5e420
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.validation from 4.11.0 to 4.12.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency eslint from 9.37.0 to 9.38.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @types/jasmine from 5.1.11 to 5.1.12
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update version.io.micronaut.core from 4.9.12 to 4.10.6
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.data from 4.13.8 to 4.14.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.1 to 3.6.2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.46.1 to 8.46.2
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update version.io.micronaut.core from 4.9.12 to 4.10.7
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 5760f35
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to d68a804
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 603395c
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.1-distroless docker digest to ac9f4d8
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.1 docker digest to 4416942
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to 8a89123
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 5fb4625
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to be1e164
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to 126743e
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.9.4 to 4.10.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to cba1d7b
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 8e52933
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to af5fa66
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 243a1ae
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.1 to 26.4.2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.1-distroless to 26.4.2-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/postgres:17.6 docker digest to b480430
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to b73f24a
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
