Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  test-yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: app/**)
  test-service: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: pom.xml, api/**, service/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)

Refactor satellite data handling and add initial load
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
  app/src/assets/meshes/satellite_obj.obj
Due: build, verify, test-yarn

Formatter
  service/src/main/java/io/inoa/app/KeycloakEndSessionEndpointResolver.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, verify, test-service, integration-test, integration-errors

Improve satellite orbit calculations and update 3D model
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
  app/src/assets/meshes/satellite.obj
Due: build, verify, test-yarn

slower
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Fix docker daemon ip lookup.
  .woodpecker/verify.yaml
Due: lint, yaml, verify, integration-test, integration-errors

Delete unused file.
  .env.template
  .mvn/maven.config
Due: none

Build dockerfile at project root without maven.
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
  Dockerfile
  Dockerfile.dockerignore
  image/pom.xml
  image/src/docker/Dockerfile
  image/src/docker/Dockerfile.dockerignore
  pom.xml
  test/pom.xml
Due: build, lint, dockerfile, yaml, verify, test-service, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.8.2
  pom.xml
  service/pom.xml
  service/src/main/java/io/inoa/app/KeycloakEndSessionEndpointResolver.java
  service/src/main/resources/application.yaml
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, lint, yaml, verify, test-service, integration-test, integration-errors

Remove maven dependency for keycloak.
  .woodpecker/maven/registries-ci.yml
  .woodpecker/maven/registries.yml
  pom.xml
  test/src/test/k3s/test/keycloak/deployment.yaml
Due: build, lint, yaml, verify, test-service, integration-test, integration-errors

Add docker cache
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
Due: build, lint, yaml, verify, integration-test, integration-errors

Reviewed kafka for renovate.
  pom.xml
  renovate.json
Due: build, lint, renovate, verify, test-service, integration-test, integration-errors

Disable major upgrades for renovate for maven/java/node
  renovate.json
Due: lint, renovate

Add renovate manager for images from pom.xml
  renovate.json
Due: lint, renovate

Skip maven verfy if only app was changed.
  .woodpecker/verify.yaml
Due: lint, yaml, verify, integration-test, integration-errors

Update @typescript-eslint to v8.33.1
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency eslint to v9.28.0
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency org.codehaus.mojo:exec-maven-plugin to v3.5.1
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency org.apache.maven.plugins:maven-clean-plugin to v3.5.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency org.apache.kafka:kafka-clients to v3.7.1 [SECURITY]
  pom.xml
  service/src/test/java/io/inoa/test/KafkaSink.java
Due: build, verify, test-service, integration-test, integration-errors

Remove kafka dependency, reuse from micronaut.
  pom.xml
  renovate.json
Due: build, lint, renovate, verify, test-service, integration-test, integration-errors

Fix temurin image.
  Dockerfile
Due: lint, dockerfile

Update docker.io/library/influxdb Docker tag to v2.7.12
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/library/eclipse-temurin:21.0.7_6-jre Docker digest to a01533f
  Dockerfile
Due: lint, dockerfile

Update docker.io/library/postgres Docker tag to v14.18
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/library/traefik Docker tag to v2.11.25
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/kokuwaio/kafka Docker tag to v3.8.0
  fluxcd/live/qas/kafka/kustomization.yaml
  pom.xml
  test/src/test/k3s/test/kafka/statefulset.yaml
Due: build, lint, yaml, kustomize, verify, test-service, integration-test, integration-errors

Update docker.io/library/eclipse-temurin:21.0.7_6-jre Docker digest to 02df6e6
  Dockerfile
Due: lint, dockerfile

Fix kafka tmp dir for fluxcd
  fluxcd/base/kafka/statefulset.yaml
Due: lint, yaml, kustomize

Fix build, deploy even if only Dockerfile was changed.
  .woodpecker/build.yaml
Due: build, lint, yaml

Fix deployment.
  fluxcd/base/inoa/kustomization.yaml
Due: lint, yaml, kustomize

Allign versions in pom.xml, dockerfile and kustomization.
  .woodpecker/verify.yaml
  fluxcd/live/qas/keycloak/kustomization.yaml
  pom.xml
Due: build, lint, yaml, kustomize, verify, test-service, integration-test, integration-errors

Update docker.io/library/maven:3.9.9-eclipse-temurin-21 Docker digest to a2b6196
  .woodpecker/verify.yaml
  Dockerfile
Due: lint, dockerfile, yaml, verify, integration-test, integration-errors

Update Yarn to v4.9.2
  app/package.json
Due: build, verify, test-yarn

Update docker.io/library/maven:3.9.9-eclipse-temurin-21 Docker digest to 3a4ab32
  .woodpecker/verify.yaml
  Dockerfile
Due: lint, dockerfile, yaml, verify, integration-test, integration-errors

Update dependency org.bouncycastle:bcpkix-jdk18on to v1.81
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency org.codehaus.mojo:build-helper-maven-plugin to v3.6.1
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.23.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Fix `just up`, was broken with remove of image project
  .justfile
Due: none
