Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to d5926aa
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.openapitools:jackson-databind-nullable from 0.2.7 to 0.2.8
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to 05fccc0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to 08f8a66
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/traefik docker tag from v2.11.29 to v2.11.30
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-inject-java from 4.10.7 to 4.10.8
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.0 to 4.10.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/traefik:v2.11.30 docker digest to badb265
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency jasmine-core from 5.12.0 to 5.12.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency eslint from 9.38.0 to 9.39.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency com.jayway.jsonpath:json-path from 2.9.0 to 2.10.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.openapitools:openapi-generator-maven-plugin from 7.16.0 to 7.17.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.46.2 to 8.46.3
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency eslint from 9.39.0 to 9.39.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to a3c950d
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to 8c32b53
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/postgres:17.6 docker digest to 1da445c
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to 12541e6
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 5b5b35a
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to 6ea7922
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to c2eeeaa
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.6 docker digest to 00bc866
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/buildctl docker tag from v0.25.1 to v0.25.2
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to 04e3394
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to 42dcbdb
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2 docker digest to 75512c2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.2-distroless docker digest to 5f32fda
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency io.micronaut.data:micronaut-data-processor from 4.14.0 to 4.14.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.2 to 26.4.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.2-distroless to 26.4.3-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.3 to 26.4.4
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.3-distroless to 26.4.4-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 470cfb0
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to a63f5b5
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.1.1 to 3.2.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update yarn from 4.10.3 to 4.11.0
  app/package.json
Due: build, deploy, verify, yarn

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 13cc0ed
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @typescript-eslint/eslint-plugin from 8.46.3 to 8.46.4
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency @typescript-eslint/parser from 8.46.3 to 8.46.4
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.4 to 26.4.5
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors
