Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/inoa
      environment:
        MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      commands:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    dockerfile:
      image: kokuwaio/hadolint
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/Dockerfile'
  ...

renovate:
  image: kokuwaio/renovate-config-validator
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint
  depends_on: []

yaml:
  image: kokuwaio/yamllint
  depends_on: []
  failure: ignore

markdown:
  image: kokuwaio/markdownlint
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck
  depends_on: []

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS
    DOCKER_CONFIG_JSON:
      from_secret: DOCKER_CONFIG_JSON
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  ...

verify:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/maven:3-jdk21
      depends_on: []
      environment:
        MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
      commands: mvn -am -pl service -DskipTests -DskipITs install
    test-yarn:
  ...

test-yarn:
  image: kokuwaio/node:20-chrome
  depends_on:
  - build
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

test-service:
  image: ghcr.io/grayc-de/plugins/maven:3-jdk21
  depends_on:
  - build
  environment:
    MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
  commands: mvn test -pl service -Dsurefire.rerunFailingTestsCount=2

Fix README, remove obsolete image project
  README.md
Due: lint, markdown

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.24.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

INOA-416 Add observation dashboards to Backstage
  docs/backstage/system-inoa-cloud.yaml
Due: lint, yaml, backstage

Update dependency jasmine-core to ~5.8.0
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

Update @typescript-eslint to v8.34.0
  app/yarn.lock
Due: build, verify, test-yarn

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.24.1
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

INOA-416 Fix dashboard tags for INOA in Backstage
  docs/backstage/system-inoa-cloud.yaml
Due: lint, yaml, backstage

INOA-416 Obey linter
  docs/backstage/system-inoa-cloud.yaml
Due: lint, yaml, backstage

Update dependency @angular-devkit/build-angular to v18.2.20
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency @angular/cli to v18.2.20
  app/yarn.lock
Due: build, verify, test-yarn

Update docker.io/library/node:20.19.2-slim Docker digest to 7cd3fbc
  Dockerfile
Due: lint, dockerfile

Update dependency io.micronaut.platform:micronaut-platform to v4.8.3
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency eslint to v9.29.0
  app/yarn.lock
Due: build, verify, test-yarn

Update docker.io/library/eclipse-temurin:21.0.7_6-jre Docker digest to 031eb6c
  Dockerfile
Due: lint, dockerfile

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.24.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update @typescript-eslint to v8.34.1
  app/yarn.lock
Due: build, verify, test-yarn

Update docker.io/grafana/grafana Docker tag to v12.0.2
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.25.1
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.25.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

rollback to v5.4.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.5.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.6.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.8.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.9.4
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.11.10
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.12.3
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.13.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.14.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.15.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.16.2
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.17.14
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.18.3
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.19.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.20.8
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Rollback swagger-ui version
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Add more docu regarding ip
  .justfile
  README.md
  api/openapi.yaml
  test/pom.xml
  test/src/test/k3s/dev/mcnoize/statefulset.yaml
Due: build, lint, yaml, markdown, verify, test-service, integration-test, integration-errors

Fix issuer url of keycloak.
  fluxcd/base/inoa/deployment.yaml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/live/qas/inoa/kustomization.yaml
Due: lint, yaml, kustomize

Migrate renovate configuration
  renovate.json
Due: lint, renovate

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  test-yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: app/**)
  test-service: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: pom.xml, api/**, service/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
