Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

chore(deps): update docker.io/library/postgres:17.7 docker digest to dca7512
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut:micronaut-core-bom from 4.10.9 to 4.10.10
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7-distroless docker digest to af4baf3
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.3 to 4.10.4
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.data from 4.14.1 to 4.14.2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Fix escaping for RPC commands
  service/src/main/java/io/inoa/fleet/remoting/RemotingService.java
  service/src/main/java/io/inoa/fleet/remoting/rest/RemotingController.java
  service/src/main/java/io/inoa/measurement/things/builder/DatapointService.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency eslint from 9.39.1 to 9.39.2
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7 docker digest to 95658bc
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/influxdb docker tag from 2.7.12 to 2.8.0
  fluxcd/live/qas/influxdb/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update dependency org.apache.maven.plugins:maven-release-plugin from 3.2.0 to 3.3.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.47.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update kokuwaio/buildctl docker tag from v0.26.2 to v0.26.3
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7 docker digest to 6f603bd
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.core from 4.10.10 to 4.10.12
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Send datapoints sequentially
  service/src/main/java/io/inoa/fleet/remoting/rest/RemotingController.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.49.0 to 8.50.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.4 to 4.10.6
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Added endpoint for debugging MQTT connections
  service/src/main/java/io/inoa/fleet/mqtt/BrokerEndpoint.java
  service/src/main/java/io/inoa/fleet/mqtt/MqttBroker.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Cosmetic changes + linter
  service/src/main/java/io/inoa/fleet/mqtt/BrokerEndpoint.java
  service/src/main/java/io/inoa/fleet/mqtt/MqttBroker.java
  service/src/main/java/io/inoa/fleet/remoting/RemotingHandler.java
  service/src/main/resources/application.yaml
Due: build, deploy, lint, yaml, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Set "retain" flag to false to avoid re-receiving commands on new subscriptions
  service/src/main/java/io/inoa/fleet/remoting/RemotingService.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Obey linter
  api/openapi.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

MIN-442 Fix tests
  service/src/test/java/io/inoa/measurement/things/builder/DatapointServiceTest.java
Due: build, deploy, verify, maven

MIN-442 Fix yarn linter
  app/src/app/satellite-manager/gateway-detail/gateway-configuration/gateway-configuration.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-datapoints/gateway-datapoints.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-overview/gateway-overview.component.ts
Due: build, deploy, verify, yarn

MIN-442 Fix yarn lint II
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
Due: build, deploy, verify, yarn

MIN-442 Implement wink and reboot
  service/src/main/java/io/inoa/fleet/remoting/rest/RemotingController.java
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7 docker digest to 1827d88
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.7-distroless docker digest to 2b041da
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

fix(ci): use new mirror, avoid internal domains
  .woodpecker/maven/registries-ci.yaml
  .woodpecker/maven/registries.yaml
  .woodpecker/maven/settings.xml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to 11cf4dc
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to b342de0
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to 7352e0c
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @types/jasmine from 5.1.13 to 5.1.15
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency io.kokuwa.maven:k3s-maven-plugin from 2.0.2 to 2.0.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.4 to 4.10.7
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.codehaus.mojo:exec-maven-plugin from 3.6.2 to 3.6.3
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/traefik docker tag from v2.11.32 to v2.11.35
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors
