Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config

Update @typescript-eslint to v8.0.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency io.kokuwa.micronaut:micronaut-openapi-codegen to v4.3.1
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency com.diffplug.spotless:spotless-maven-plugin to v2.44.0.BETA4
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.bouncycastle:bcpkix-jdk18on to v1.79
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.validation:micronaut-validation-processor to v4.8.0
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.data:micronaut-data-processor to v4.9.7
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update Yarn to v4.5.2
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

linted
  app/src/app/ems-dashboard/ems-dashboard.component.ts
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update Yarn to v4.5.3
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Removed mkdocs from inoa build image. Techdocs are build with techdocs image.
  .woodpecker/plugin/Dockerfile
  .woodpecker/plugin/requirements.txt
Due: plugin

Pinning versions for dockerfile linting satisfaction.
  .woodpecker/plugin/Dockerfile
Due: plugin

Update docker.io/library/influxdb Docker tag to v2.7.11
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update docker.io/redpandadata/console Docker tag to v2.8.0
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update dependency org.keycloak.bom:keycloak-bom-parent to v26
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.kokuwa.micronaut:micronaut-openapi-codegen to v4.4.2
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

switched sensor name to new current transformer ct
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Update dependency io.kokuwa.maven:maven-parent to v0.6.18
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Reviewed version properties for micronaut.
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Remove versions from annotation processors.
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.5.4
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Migrated woodpecker definition to latest
  .woodpecker/build.yaml
  .woodpecker/plugin.yaml
  .woodpecker/techdocs.yaml
  .woodpecker/verify.yaml
Due: build, plugin, techdocs, publish

Update micronaut
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

second instance of changed sensor name
  app/src/app/ems-dashboard/ems-dashboard.component.html
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Fix deprecated ...
  service/src/main/java/io/inoa/fleet/logging/LogEventListener.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.10.5
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

In integration-test service should wait until keycloak is configured.
  test/src/test/k3s/test/inoa/deployment.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.8.1
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update dependency @types/jasmine to v5.1.5
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @angular-eslint to v18.4.3
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @ngx-formly to v6.3.12
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @types/leaflet to v1.9.15
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @typescript-eslint to v8.15.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency eslint to v9.17.0
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @angular to v18.2.13
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency markdownlint to ^0.37.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Adapted backstage entities to fit into the global domain & namespace structure. (#349)
  docs/backstage/api-inoa-fleet.yaml
  docs/backstage/api-inoa-hawkbit.yaml
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-groundcontrol.yaml
  docs/backstage/component-inoa-hawkbit.yaml
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/component-inoa-keycloak.yaml
  docs/backstage/component-inoa-postgres.yaml
  docs/backstage/domain-inoa.yaml
  docs/backstage/resource-keycloak-realm.yaml
  docs/backstage/system-inoa-cloud.yaml
Due: none
