Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: kokuwaio/docker-cli
      commands:
      - docker login ghcr.io --username=$GHCR_USERNAME --password=$GHCR_PASSWORD
  ...

deploy:
  steps:
    deploy:
      image: kokuwaio/buildctl:v0.23.2
      settings:
        platform: linux/amd64
        build-args:
          MAVEN_MIRROR_CENTRAL: ${MAVEN_MIRROR_CENTRAL}
          YARN_NPM_REGISTRY_SERVER: ${YARN_NPM_REGISTRY_SERVER}
          YARN_UNSAFE_HTTP_WHITELIST: ${YARN_UNSAFE_HTTP_WHITELIST}
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator:41
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    yaml:
      image: kokuwaio/yamllint:v1.37.1
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - .yamllint.yaml
  ...

renovate:
  image: kokuwaio/renovate-config-validator:41
  depends_on: []

yaml:
  image: kokuwaio/yamllint:v1.37.1
  depends_on: []

markdown:
  image: kokuwaio/markdownlint:0.45.0
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint:v2.12.0
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck:v0.11.0
  depends_on: []

backstage:
  image: kokuwaio/backstage-entity-validator:0.5.1
  settings:
    files: catalog-info.yaml docs/backstage/**/*.yaml
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs:latest
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  - inoa/System/inoa-cloud
  - --directory
  - docs/target
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS

verify:
  steps:
    image:
      image: kokuwaio/docker-cli
      depends_on: []
      commands:
      - docker buildx create --use --name=buildkit --driver=remote --driver-opt=default-load=true $BUILDKIT_HOST
  ...

maven:
  image: docker.io/library/maven:3.9.11-eclipse-temurin-21@sha256:5d6a18b40b2dc48c2182f9593968f96d8eefc50fc2ebf4671a10ca898dfcad1c
  depends_on: []
  commands: mvn install --settings=$CI_WORKSPACE/.woodpecker/maven/settings.xml

yarn:
  image: kokuwaio/node:20-chrome
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.4.4-distroless to 26.4.5-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.10.1 to 4.10.2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/traefik docker tag from v2.11.30 to v2.11.31
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to d848907
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres docker tag from 17.6 to 17.7
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to ca90b9a
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to 46fd7ee
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency @types/jasmine from 5.1.12 to 5.1.13
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update docker.io/library/postgres:17.7 docker digest to 2b6239f
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 6fdc855
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.apache.maven.plugins:maven-jar-plugin from 3.4.2 to 3.5.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/buildctl docker tag from v0.25.2 to v0.26.0
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5-distroless docker digest to d94a367
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5 docker digest to 89fb345
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.46.4 to 8.47.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update kokuwaio/buildctl docker tag from v0.26.0 to v0.26.1
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5 docker digest to 91bfc04
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5-distroless docker digest to 4c05817
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update node.js to 966ff05
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to ecebd23
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update node.js to 9e70124
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to 5ecd7c6
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/postgres:17.7 docker digest to f337b02
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  pom.xml
Due: build, deploy, lint, yaml, kustomize, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5 docker digest to 5c9501b
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5-distroless docker digest to 3585084
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update kokuwaio/buildctl docker tag from v0.26.1 to v0.26.2
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5-distroless docker digest to cdcc04d
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency zone.js from 0.15.1 to 0.16.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency monaco-editor from 0.54.0 to 0.55.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency com.influxdb:influxdb-client-java from 7.3.0 to 7.4.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/redpandadata/console docker tag from v3.2.2 to v3.3.1
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak:26.4.5 docker digest to 01f12c2
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency monaco-editor from 0.55.0 to 0.55.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update version.io.micronaut.core from 4.10.8 to 4.10.9
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.47.0 to 8.48.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency org.codehaus.mojo:versions-maven-plugin from 2.19.1 to 2.20.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update yarn from 4.11.0 to 4.12.0
  app/package.json
Due: build, deploy, verify, yarn

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
