Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, markdown, shell, yaml, preload-images, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/pom.xml, **/*.java
  markdown: any of: .markdownlint.yaml, .markdownlintignore, **/*.md
  shell: any of: **/*.sh
  yaml: any of: .yamllint.yaml, **/*.yaml
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config

Bump moquette from 0.16 to 0.17 (#50)
  pom.xml
  service/src/main/java/io/inoa/fleet/broker/MqttBroker.java
  service/src/main/java/io/inoa/fleet/broker/MqttFactory.java
  service/src/main/java/io/inoa/fleet/broker/MqttServiceClient.java
  service/src/main/java/io/inoa/fleet/broker/handler/ConnectionHandler.java
  service/src/main/java/io/inoa/fleet/broker/handler/MessageHandler.java
  service/src/main/java/io/inoa/fleet/broker/handler/SubscriptionHandler.java
  service/src/main/java/io/inoa/fleet/remoting/service/RemotingHandler.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Refactor message handling, release after handling message. (#52)
  service/src/main/java/io/inoa/fleet/broker/handler/MessageHandler.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Bump generator and regenerate sources (#54)
  api/gen/main/java/io/inoa/rest/ConfigurationApi.java
  api/gen/main/java/io/inoa/rest/CredentialsApi.java
  api/gen/main/java/io/inoa/rest/GatewaysApi.java
  api/gen/main/java/io/inoa/rest/GroupsApi.java
  api/gen/main/java/io/inoa/rest/ThingTypesApi.java
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  inoa-groundcontrol/ui/src/gen/api/configuration.service.ts
  inoa-groundcontrol/ui/src/gen/api/credentials.service.ts
  inoa-groundcontrol/ui/src/gen/api/gateway.service.ts
  inoa-groundcontrol/ui/src/gen/api/gateways.service.ts
  inoa-groundcontrol/ui/src/gen/api/groups.service.ts
  inoa-groundcontrol/ui/src/gen/api/properties.service.ts
  inoa-groundcontrol/ui/src/gen/api/remote.service.ts
  inoa-groundcontrol/ui/src/gen/api/tenants.service.ts
  inoa-groundcontrol/ui/src/gen/api/thingTypes.service.ts
  inoa-groundcontrol/ui/src/gen/api/things.service.ts
  pom.xml
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

`fluxcd`: disable hawkbit for prod (#56)
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Bugfix: handle missing timestamp and failing tests (#55)
  .woodpecker/verify.yaml
  service/src/main/java/io/inoa/fleet/registry/messaging/ConnectionEventListener.java
  test/src/test/java/io/inoa/test/client/InfluxDBClient.java
Due: build, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Replace snakeyaml in tests (#57)
  test/pom.xml
  test/src/test/resources/application-test.properties
  test/src/test/resources/application-test.yaml
Due: maven, yaml, preload-images, build-api, build-service, build-app, image, integration-prepare, integration-test

Refactored tests (#58)
  api/src/test/java/io/inoa/AbstractMicronautTest.java
  api/src/test/java/io/inoa/test/AbstractTest.java
  api/src/test/java/io/inoa/test/Await.java
  api/src/test/java/io/inoa/test/HttpAssertions.java
  service/src/test/java/io/inoa/fleet/broker/ConnectTest.java
  service/src/test/java/io/inoa/fleet/broker/MqttAssertions.java
  service/src/test/java/io/inoa/fleet/broker/MqttFactoryTest.java
  service/src/test/java/io/inoa/fleet/broker/MqttPropertiesTest.java
  service/src/test/java/io/inoa/fleet/broker/TelemetryTest.java
  service/src/test/java/io/inoa/fleet/broker/TestMqttListener.java
  service/src/test/java/io/inoa/fleet/monitoring/LogEventListenerTest.java
  service/src/test/java/io/inoa/fleet/registry/auth/GatewayTokenServiceTest.java
  service/src/test/java/io/inoa/fleet/registry/messaging/ConnectionEventListenerTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/gateway/GatewayApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/gateway/PropertiesApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/ConfigurationApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/CredentialsApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/GatewaysApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/GroupsApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/TenantApiTest.java
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
  service/src/test/java/io/inoa/fleet/remoting/rest/RemoteControllerTest.java
  service/src/test/java/io/inoa/measurement/exporter/influx/InfluxDBListenerTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
  service/src/test/java/io/inoa/measurement/translator/converter/AbstractConverterTest.java
  service/src/test/java/io/inoa/measurement/translator/service/TranslateListenerTest.java
  service/src/test/java/io/inoa/measurement/translator/service/TranslateServiceTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
  service/src/test/java/io/inoa/test/KafkaSink.java
  test/src/test/java/io/inoa/it/GatewayIT.java
  test/src/test/java/io/inoa/test/AbstractIntegrationTest.java
  test/src/test/java/io/inoa/test/client/GatewayClientFactory.java
  test/src/test/java/io/inoa/test/client/InfluxDBClient.java
  test/src/test/java/io/inoa/test/client/KeycloakClient.java
  test/src/test/java/io/inoa/test/client/RegistryClient.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Move exporter to controller package (#59)
  service/src/main/java/io/inoa/Application.java
  service/src/main/java/io/inoa/controller/exporter/ExporterFactory.java
  service/src/main/java/io/inoa/controller/exporter/InfluxDBHealthIndicator.java
  service/src/main/java/io/inoa/controller/exporter/InfluxDBListener.java
  service/src/main/java/io/inoa/controller/exporter/package-info.java
  service/src/main/java/io/inoa/measurement/exporter/influx/InfluxDBMetrics.java
  service/src/test/java/io/inoa/controller/exporter/InfluxDBListenerTest.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Rename properties to avoid warnings (#61)
  service/src/test/java/io/inoa/fleet/registry/auth/GatewayTokenServiceTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Reviewed ci scripts (#62)
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
Due: yaml

Enable mcnoize (#65)
  test/src/test/k3s/dev/grafana/files/datasources.yaml
  test/src/test/k3s/dev/help/index.html
  test/src/test/k3s/test/keycloak/realm.json
Due: yaml, preload-images, build-api, build-service, build-app, image, integration-prepare, integration-test

Fix ci build (#66)
  .woodpecker/verify.yaml
Due: yaml

Fix swagger-ui in k3s test (#64)
  .woodpecker/verify.yaml
  api/openapi.yaml
  test/src/test/k3s/dev/help/index.html
  test/src/test/k3s/dev/swagger-ui/kustomization.yaml
  test/src/test/k3s/test/keycloak/realm.json
Due: build, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Add yarn stuff to ci, added missing kubectl (#71)
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
Due: yaml

Bump some versions .... (#69)
  pom.xml
  test/src/test/k3s/test/keycloak/realm.json
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Add renovate (#70)
  .gitea/CODEOWNERS
  renovate.json
Due: none

Deploy mcnoize for local development (#68)
  .woodpecker/verify.yaml
  pom.xml
  test/pom.xml
  test/src/test/k3s/dev/grafana/files/datasources.yaml
  test/src/test/k3s/dev/help/index.html
  test/src/test/k3s/dev/kustomization.yaml
  test/src/test/k3s/dev/mcnoize/kustomization.yaml
  test/src/test/k3s/dev/mcnoize/statefulset.yaml
  test/src/test/k3s/test/inoa/ingress.yaml
  test/src/test/k3s/test/inoa/kustomization.yaml
  test/src/test/k3s/test/inoa/service.yaml
Due: build, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Update docker.io/redpandadata/console Docker tag to v2.4.5 (#74)
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Update dependency io.micronaut:micronaut-inject-java to v4.3.10 (#78)
  pom.xml
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Linter back online (#77)
  .woodpecker/lint.yaml
  README.md
  app/src/app/measurement-collector/measurement-collector.component.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
  app/src/app/thing-category.service.ts
  app/src/app/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/environments/environment.development.ts
Due: build, markdown, yaml, preload-images, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test

Update dependency io.micronaut.platform:micronaut-platform to v4.3.5 (#79)
  pom.xml
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Migrate from yarn classic to berry and node 18 to 20 (#81)
  .gitignore
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
  app/.yarnrc
  app/.yarnrc.yml
  app/package.json
  app/yarn.lock
Due: build, yaml, preload-images, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test

`renovate`: disable non updatable packages (#80)
  renovate.json
Due: none

Update dependency io.micronaut.validation:micronaut-validation-bom to v4.4.4 (#82)
  pom.xml
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Fixed Tests (#83)
  app/src/app/app.component.spec.ts
  app/src/app/installation-monitor/installation-monitor.component.spec.ts
  app/src/app/measurement-collector/measurement-collector.component.spec.ts
  app/src/app/satellite-manager/satellite-manager.component.spec.ts
  app/src/app/setup-configurator/setup-configurator.component.spec.ts
  app/src/app/thing-category.service.spec.ts
  app/src/app/thing-creation-dialog/thing-creation-dialog.component.spec.ts
  app/src/app/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/index.html
Due: build, preload-images, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test

Add test for micronaut endpoints (#84)
  service/src/main/resources/application-cloud.properties
  service/src/main/resources/application.yaml
  test/src/test/java/io/inoa/it/MicronautEndpointsIT.java
  test/src/test/resources/application-test.properties
Due: build, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Build `app` in dockerfile (#85)
  .woodpecker/verify.yaml
  app/pom.xml
  image/pom.xml
  image/src/docker/Dockerfile
  image/src/docker/Dockerfile.dockerignore
  pom.xml
Due: build, maven, yaml, preload-images, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test

Add chrome for tests (#87)
  .woodpecker/verify.yaml
  app/angular.json
  app/karma.conf.ts
  app/package.json
  app/src/proxy.conf.json
Due: build, yaml, preload-images, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test

Remove kafka-ui and kafdrop, kafka-console is now the kafka ui (#91)
  fluxcd/base/kafdrop/deployment.yaml
  fluxcd/base/kafdrop/ingress.yaml
  fluxcd/base/kafdrop/kustomization.yaml
  fluxcd/base/kafdrop/service.yaml
  fluxcd/base/kafka-ui/deployment.yaml
  fluxcd/base/kafka-ui/ingress.yaml
  fluxcd/base/kafka-ui/kustomization.yaml
  fluxcd/base/kafka-ui/service.yaml
  fluxcd/live/dev/kafdrop/kustomization.yaml
  fluxcd/live/dev/kafka-ui/kustomization.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kafdrop/kustomization.yaml
  fluxcd/live/prod/kafka-ui/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Disable moquette telemetry (#89)
  service/src/main/java/io/inoa/fleet/broker/MqttFactory.java
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Bump mcnoize version (#88)
  fluxcd/kiste/dev/mcnoize/statefulset.yaml
  pom.xml
  test/src/test/k3s/dev/mcnoize/kustomization.yaml
  test/src/test/k3s/dev/mcnoize/statefulset.yaml
Due: build, kustomize, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Serve app within micronaut service (#86)
  service/src/main/java/io/inoa/Application.java
  service/src/main/java/io/inoa/controller/app/AppAuthenticationFetcher.java
  service/src/main/java/io/inoa/controller/app/AppSecurityRule.java
  service/src/main/java/io/inoa/controller/app/package-info.java
  service/src/main/resources/application-app.properties
  service/src/main/resources/application.yaml
  service/src/test/java/io/inoa/controller/app/AppFilesTest.java
  service/src/test/resources/static/assets/images/test.svg
  service/src/test/resources/static/assets/test.txt
  service/src/test/resources/static/favicon.ico
  service/src/test/resources/static/index.html
  service/src/test/resources/static/main.573869017767e6ae.js
  service/src/test/resources/static/styles.274ad411a0e81426.css
  test/pom.xml
  test/src/test/java/io/inoa/it/AppFilesIT.java
  test/src/test/k3s/dev/help/index.html
Due: build, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Fix mcnoize deployment (#92)
  fluxcd/kiste/dev/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/statefulset.yaml
Due: kustomize, yaml

Bump mcnoize (#93)
  fluxcd/kiste/dev/kustomization.yaml
Due: kustomize, yaml

Update dependency io.micronaut:micronaut-inject-java to v4.3.11 (#94)
  pom.xml
Due: build, maven, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Move mqtt broker to its own package, tests are much faster now (#95)
  fluxcd/base/inoa/kustomization.yaml
  service/src/main/java/io/inoa/Application.java
  service/src/main/java/io/inoa/controller/mqtt/MqttBroker.java
  service/src/main/java/io/inoa/controller/mqtt/MqttFactory.java
  service/src/main/java/io/inoa/controller/mqtt/MqttGatewayIdentifier.java
  service/src/main/java/io/inoa/controller/mqtt/MqttProperties.java
  service/src/main/java/io/inoa/controller/mqtt/MqttServiceClient.java
  service/src/main/java/io/inoa/controller/mqtt/auth/InoaAuthenticator.java
  service/src/main/java/io/inoa/controller/mqtt/auth/InoaAuthorizator.java
  service/src/main/java/io/inoa/controller/mqtt/handler/ConnectionHandler.java
  service/src/main/java/io/inoa/controller/mqtt/handler/MessageHandler.java
  service/src/main/java/io/inoa/controller/mqtt/handler/SubscriptionHandler.java
  service/src/main/java/io/inoa/controller/mqtt/package-info.java
  service/src/main/java/io/inoa/fleet/remoting/service/RemotingHandler.java
  service/src/main/java/io/inoa/fleet/remoting/service/RemotingService.java
  service/src/test/java/io/inoa/controller/mqtt/AbstractMqttTest.java
  service/src/test/java/io/inoa/controller/mqtt/MqttFactoryTest.java
  service/src/test/java/io/inoa/controller/mqtt/MqttPropertiesTest.java
  service/src/test/java/io/inoa/controller/mqtt/handler/ConnectionHandlerTest.java
  service/src/test/java/io/inoa/controller/mqtt/handler/MessageHandlerTest.java
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
  service/src/test/java/io/inoa/fleet/remoting/TestMqttListener.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
  service/src/test/resources/application-test.yaml
  test/src/test/k3s/test/inoa/kustomization.yaml
Due: build, kustomize, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test

Cleanup with defaults (#96)
  fluxcd/base/inoa/kustomization.yaml
  service/src/main/java/io/inoa/Application.java
  service/src/main/java/io/inoa/fleet/ApplicationFactory.java
  service/src/main/resources/application.yaml
  service/src/main/resources/db/migration/V001__schema.sql
  service/src/main/resources/db/migration/V002__tenant_inoa.sql
  service/src/main/resources/db/migration/V003__measurement.sql
  service/src/test/java/io/inoa/controller/mqtt/MqttFactoryTest.java
  service/src/test/java/io/inoa/controller/mqtt/MqttPropertiesTest.java
  test/src/test/k3s/test/inoa/kustomization.yaml
Due: build, kustomize, maven, yaml, preload-images, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test
