Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

build:
  steps:
    deploy:
      image: kokuwaio/docker-cli
      commands:
      - docker login ghcr.io --username=$GHCR_USERNAME --password=$GHCR_PASSWORD
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    dockerfile:
      image: kokuwaio/hadolint
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/Dockerfile'
  ...

renovate:
  image: kokuwaio/renovate-config-validator
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint
  depends_on: []

yaml:
  image: kokuwaio/yamllint
  depends_on: []

markdown:
  image: kokuwaio/markdownlint
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck
  depends_on: []

backstage:
  image: kokuwaio/backstage-entity-validator
  settings:
    files: catalog-info.yaml docs/backstage/**
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
      image: ghcr.io/grayc-de/techdocs:latest
      entrypoint:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs:latest
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  - inoa/System/inoa-cloud
  - --directory
  - docs/target
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS

verify:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/maven:3-jdk21
      depends_on: []
      environment:
        MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
      commands: mvn -am -pl service -DskipTests -DskipITs install
    test-yarn:
  ...

test-yarn:
  image: kokuwaio/node:20-chrome
  depends_on:
  - build
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

test-service:
  image: ghcr.io/grayc-de/plugins/maven:3-jdk21
  depends_on:
  - build
  environment:
    MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
  commands: mvn test -pl service -Dsurefire.rerunFailingTestsCount=2

chore(deps): pin dependencies
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update typescript-eslint from 8.35.1 to 8.36.0
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update node.js to fa43945
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update dependency @types/leaflet from 1.9.19 to 1.9.20
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update dependency io.micronaut.platform:micronaut-platform from 4.9.0 to 4.9.1
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

GDO-101 Remove old config
  fluxcd/base/grafana/deployment.yaml
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/grafana/rbac.yaml
  fluxcd/base/grafana/service.yaml
  fluxcd/live/qas/grafana/datasources.yaml
Due: lint, yaml, kustomize

GDO-101 Adjust sops config
  fluxcd/.sops.yaml
Due: lint, yaml, kustomize

GDO-101 Configure grafana, datasources, folders for inoa-qas
  fluxcd/base/grafana/folders/ems.yaml
  fluxcd/base/grafana/folders/fleet.yaml
  fluxcd/base/grafana/folders/kustomization.yaml
  fluxcd/base/grafana/grafana.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/datasources/datasources.yaml
  fluxcd/live/qas/grafana/datasources/kustomization.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/secrets.yaml
Due: lint, yaml, kustomize

GDO-101 fix linter problems
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

GDO-101 Fix datasource
  fluxcd/live/qas/grafana/datasources/datasources.yaml
Due: lint, yaml, kustomize

GDO-101 Fix config errors
  fluxcd/base/grafana/grafana.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

GDO-101 fix datasource
  fluxcd/live/qas/grafana/datasources/datasources.yaml
Due: lint, yaml, kustomize

GDO-101 Switch back to default port 3000
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

GDO-101 remove serviceaccount, is managed by operator
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

GDO-101 fix config
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize

GDO-101 Configure own service
  fluxcd/base/grafana/grafana.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/base/grafana/service.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

GDO-101 remove comment
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

GDO-101 Small fixes and config changes
  fluxcd/base/grafana/folders/ems.yaml
  fluxcd/base/grafana/grafana.yaml
  fluxcd/base/grafana/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to f7d9b21
  Dockerfile
Due: build, lint, dockerfile

GDO-101 fix config
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/datasources/README.md
Due: lint, yaml, markdown, kustomize

GDO-101 fix linter
  fluxcd/live/qas/grafana/datasources/README.md
Due: lint, markdown, kustomize

GDO-101 Add simple dashboard and simplify instanceSelector with patch in stage kustomization
  fluxcd/base/grafana/folders/ems.yaml
  fluxcd/base/grafana/folders/fleet.yaml
  fluxcd/base/grafana/grafana-dashboards/fleet/dashboards-fleet.yaml
  fluxcd/base/grafana/grafana-dashboards/fleet/files/gateway-count.json
  fluxcd/base/grafana/grafana-dashboards/fleet/kustomization.yaml
  fluxcd/base/grafana/grafana-dashboards/kustomization.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

GDO-101 Adjust service config
  fluxcd/base/grafana/grafana.yaml
Due: lint, yaml, kustomize

GDO-101 remove seperate service config
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/base/grafana/service.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency eslint from 9.30.1 to 9.31.0
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update docker.io/library/traefik docker tag from v2.11.26 to v2.11.27
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): update typescript-eslint from 8.36.0 to 8.37.0
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update dependency io.kokuwa.micronaut:micronaut-openapi-codegen from 4.4.2 to 4.4.3
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): update node.js from 20.19.3-slim to 20.19.4-slim
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to 28bede2
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to fbea853
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(deps): update node.js to e31d3fc
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to 9c38c7f
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update node.js to 6638afe
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to 313b224
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to e68528e
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to 193ed19
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(deps): update dependency io.kokuwa.micronaut:micronaut-openapi-codegen from 4.4.3 to 4.5.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  test-yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: app/**)
  test-service: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: pom.xml, api/**, service/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
