Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/inoa
      environment:
        MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      commands:
  ...

lint:
  steps:
    renovate:
      image: kokuwaio/renovate-config-validator
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - renovate.json
    dockerfile:
      image: kokuwaio/hadolint
      depends_on: []
      when:
      - path:
        - .woodpecker/lint.yaml
        - '**/Dockerfile'
  ...

renovate:
  image: kokuwaio/renovate-config-validator
  depends_on: []

dockerfile:
  image: kokuwaio/hadolint
  depends_on: []

yaml:
  image: kokuwaio/yamllint
  depends_on: []
  failure: ignore

markdown:
  image: kokuwaio/markdownlint
  depends_on: []

shellcheck:
  image: kokuwaio/shellcheck
  depends_on: []

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands: kubectl kustomize ./fluxcd/live/qas

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS
    DOCKER_CONFIG_JSON:
      from_secret: DOCKER_CONFIG_JSON
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  ...

verify:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/inoa
      depends_on: []
      environment:
        MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
      commands: mvn -am -pl service -DskipTests -DskipITs install
    test-yarn:
  ...

test-yarn:
  image: ghcr.io/grayc-de/plugins/node:20-chrome
  depends_on:
  - build
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable
  - yarn lint
  - yarn test --no-watch --no-progress

test-service:
  image: ghcr.io/grayc-de/plugins/inoa
  depends_on:
  - build
  environment:
    MAVEN_ARGS: --batch-mode --settings=.woodpecker/maven/settings.xml --color=always --no-transfer-progress
  commands:
  ...

Enable markdownlint
  .justfile
  .markdownlint.yaml
  .woodpecker/lint.yaml
  README.md
  app/README.md
  docs/techdocs/README.md
  docs/techdocs/docs/05_building_block_view/index.md
  docs/techdocs/docs/06_runtime_view/index.md
  docs/techdocs/docs/07_deployment_view/index.md
  docs/techdocs/docs/08_concepts/data-model/index.md
  docs/techdocs/docs/08_concepts/environments/index.md
  docs/techdocs/docs/08_concepts/rpc-commands/index.md
  docs/techdocs/docs/08_concepts/satellite-configuration/index.md
  docs/techdocs/docs/08_concepts/thing-types/index.md
  docs/techdocs/docs/09_architecture_decisions/ADR001-record-architecture-decisions.md
  docs/techdocs/docs/09_architecture_decisions/ADR002-linting-tools.md
  docs/techdocs/docs/09_architecture_decisions/index.md
  docs/techdocs/docs/11_technical_risks/index.md
  service/src/test/x509/README.md
  test/src/test/k3s/test/inoa/files/README.md
Due: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

More renovate config
  renovate.json
Due: lint, renovate

Enable yamllint
  .justfile
  .woodpecker/lint.yaml
  .yamllint.yaml
  api/openapi.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/hawkbit/kustomization.yaml
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/inoa/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/mcnoize/kustomization.yaml
  fluxcd/live/qas/swagger-ui/kustomization.yaml
  service/src/main/resources/application-translator.yaml
Due: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, verify, test-service, integration-test, integration-errors

Remove unused devDepdendency markdownlint
  app/package.json
  app/yarn.lock
  node_modules/.yarn-integrity
Due: build, verify, test-yarn, integration-test, integration-errors

Update docker.io/library/postgres Docker tag to v17.5
  fluxcd/live/qas/postgres/kustomization.yaml
Due: lint, yaml, kustomize

Maven: add pin for dependency plugin.
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Fix deployment imagePullPolicy
  fluxcd/base/grafana/deployment.yaml
Due: lint, yaml, kustomize

Update @typescript-eslint to v8.32.1
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency io.kokuwa.maven:k3s-maven-plugin to v1.6.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Use fixed ports for testcontainers
  .woodpecker/verify.yaml
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
Due: build, lint, yaml, verify, test-service, integration-test, integration-errors

Build image without docker-cli
  .maven-dockerinclude
  image/Dockerfile
  image/Dockerfile.dockerignore
  image/pom.xml
  image/src/docker/Dockerfile
  pom.xml
Due: build, lint, dockerfile, verify, test-service, integration-test, integration-errors

Avoid usage of docker cli to enable default maven images
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
  pom.xml
Due: build, lint, yaml, verify, test-service, integration-test, integration-errors

Update dependency eslint to v9.27.0
  app/yarn.lock
Due: build, verify, test-yarn

Use central mirror for docker files.
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .woodpecker/maven/registries-ci.yml
  .woodpecker/verify.yaml
  api/pom.xml
  image/pom.xml
  pom.xml
  renovate.json
  test/pom.xml
Due: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, verify, test-service, integration-test, integration-errors

Update dependency @types/leaflet to v1.9.18
  app/yarn.lock
Due: build, verify, test-yarn

Update from java17 to java21
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
  image/src/docker/Dockerfile
  pom.xml
  service/src/main/java/io/inoa/fleet/registry/rest/mapper/ConfigurationMapper.java
  service/src/test/java/io/inoa/fleet/registry/rest/mapper/ConfigurationMapperTest.java
Due: build, lint, dockerfile, yaml, verify, test-service, integration-test, integration-errors

new component for new thing
  app/src/app/app-routing.module.ts
  app/src/app/app.module.ts
  app/src/app/satellite-view-3d/satellite-view-3d.component.css
  app/src/app/satellite-view-3d/satellite-view-3d.component.html
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Update docker.io/redpandadata/console Docker tag to v3.1.1
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

Add 3D satellite view with Three.js integration
  .prettierrc
  app/package.json
  app/src/app/satellite-view-3d/satellite-view-3d.component.css
  app/src/app/satellite-view-3d/satellite-view-3d.component.html
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
  app/src/assets/images/earth_2048.jpg
  app/src/assets/images/space-bg.jpg
  app/yarn.lock
Due: build, verify, test-yarn, integration-test, integration-errors

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.22.0
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Update docker.io/library/influxdb Docker tag to v2.7.12
  fluxcd/live/qas/influxdb/kustomization.yaml
Due: lint, yaml, kustomize

Update dependency com.influxdb:influxdb-client-java to v7.3.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v12.0.1
  fluxcd/live/qas/grafana/kustomization.yaml
Due: lint, yaml, kustomize

Update dependency zone.js to v0.15.1
  app/yarn.lock
Due: build, verify, test-yarn

Migrated common images to kokuwaio
  .woodpecker/verify.yaml
  fluxcd/base/kafka/statefulset.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
  image/src/docker/Dockerfile
  pom.xml
  renovate.json
  test/src/test/k3s/test/kafka/statefulset.yaml
Due: build, lint, renovate, dockerfile, yaml, kustomize, verify, test-service, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.8.2
  pom.xml
  service/pom.xml
  service/src/main/java/io/inoa/app/KeycloakEndSessionEndpointResolver.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, verify, test-service, integration-test, integration-errors

Pin docker.io/kokuwaio/node Docker tag to 2f85acb
  image/src/docker/Dockerfile
Due: build, lint, dockerfile, verify, integration-test, integration-errors

Use internal mirror address.
  .woodpecker/maven/settings.xml
Due: none

Refactor 3D satellite view to fullscreen and improve responsiveness
  app/src/app/satellite-view-3d/satellite-view-3d.component.css
  app/src/app/satellite-view-3d/satellite-view-3d.component.html
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Update dependency io.micronaut.platform:micronaut-platform to v4.8.2
  pom.xml
  service/pom.xml
  service/src/main/java/io/inoa/app/KeycloakEndSessionEndpointResolver.java
  service/src/main/resources/application.yaml
  service/src/test/java/io/inoa/fleet/registry/rest/management/SecurityTest.java
Due: build, lint, yaml, verify, test-service, integration-test, integration-errors

Implement fullscreen toggle for 3D satellite view component
  app/src/app/satellite-view-3d/satellite-view-3d.component.css
  app/src/app/satellite-view-3d/satellite-view-3d.component.html
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Remove unused stuff leftover from unused releases.
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update 3D satellite view with dynamic count and auto-refresh
  app/src/app/satellite-view-3d/satellite-view-3d.component.css
  app/src/app/satellite-view-3d/satellite-view-3d.component.html
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Refactor 3D satellite view to use gateway data for orbits
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Implement realistic satellite orbits with Keplerian mechanics
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Add satellite orbit traces with fading effect in 3D view
  app/src/app/satellite-view-3d/satellite-view-3d.component.ts
Due: build, verify, test-yarn

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  test-yarn: (any of: .woodpecker/verify.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: app/**)
  test-service: (any of: .woodpecker/verify.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: pom.xml, api/**, service/**)
  integration-test: (any of: .woodpecker/verify.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
  integration-errors: (any of: .woodpecker/verify.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
