Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, deploy, lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, maven, yarn, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  deploy: any of: .woodpecker/deploy.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.yaml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  maven: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**)
  yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any of: .woodpecker/verify.yaml, app/**)
  integration-prepare: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*) and (any file but: app/**, api/src/test/**, service/src/test/**)

chore(deps): update node.js from 20.19.4-slim to 20.19.5-slim
  Dockerfile
Due: build, deploy, lint, dockerfile, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency eslint from 9.34.0 to 9.36.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update dependency monaco-editor from 0.52.2 to 0.53.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update typescript-eslint from 8.42.0 to 8.44.1
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn

chore(deps): update kokuwaio/buildctl docker tag from v0.23.2 to v0.24.0
  .woodpecker/deploy.yaml
Due: deploy, lint, yaml

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

chore(deps): update yarn from 4.9.4 to 4.10.0
  app/package.json
Due: build, deploy, verify, yarn

fix(renovate): pin digests for images defined in `pom.xml`
  pom.xml
  renovate.json
  test/pom.xml
Due: build, deploy, lint, renovate, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.3.3-distroless to 26.3.4-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update dependency org.codehaus.mojo:versions-maven-plugin from 2.18.0 to 2.19.1
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: lint, renovate, yaml, markdown, dockerfile, shellcheck, backstage, kustomize

Adjust influxdb pvc size after resizing in cluster
  fluxcd/base/influxdb/pvc.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/library/postgres docker tag from 17.5 to 17.6
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/influxdb:2.7.12 docker digest to 7cef950
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.11-eclipse-temurin-21 docker digest to 674ec81
  .woodpecker/verify.yaml
  Dockerfile
Due: build, deploy, lint, yaml, dockerfile, verify, maven, yarn, integration-prepare, integration-test, integration-errors

chore(deps): update influxdb:2.7.12 docker digest to 7cef950
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update hawkbit/hawkbit-update-server docker tag from 0.3.0m8 to 0.3.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.org.apache.maven.plugins.surefire from 3.5.3 to 3.5.4
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update yarn from 4.10.0 to 4.10.3
  app/package.json
Due: build, deploy, verify, yarn

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.27.0 to 2.28.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency net.revelc.code.formatter:formatter-maven-plugin from 2.27.0 to 2.29.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency org.bouncycastle:bcpkix-jdk18on from 1.81 to 1.82
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.validation from 4.10.0 to 4.11.0
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

Maintenance Resize pvc of influxdb
  fluxcd/base/influxdb/pvc.yaml
Due: lint, yaml, kustomize

chore(deps): update docker.io/kokuwaio/keycloak docker tag from 26.3.3-distroless to 26.3.5-distroless
  fluxcd/live/qas/keycloak/kustomization.yaml
Due: lint, yaml, kustomize

chore(deps): update kokuwaio/keycloak docker tag from 26.3.4 to 26.3.5
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.core from 4.9.11 to 4.9.12
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update version.io.micronaut.data from 4.13.4 to 4.13.5
  pom.xml
Due: build, deploy, verify, maven, integration-prepare, integration-test, integration-errors

chore(deps): update dependency jasmine-core from 5.10.0 to 5.11.0
  app/package.json
  app/yarn.lock
Due: build, deploy, verify, yarn
