Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, dockerfile, spotless, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  commands:
  - kubectl kustomize ./fluxcd/live/qas
  - kubectl kustomize ./fluxcd/live/prod

dockerfile:
  image: ghcr.io/grayc-de/plugins/hadolint

spotless:
  image: ghcr.io/grayc-de/plugins/inoa
  commands:
  - mvn validate

plugin:
  steps:
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
        destination: ghcr.io/grayc-de/plugins/inoa
    check:
      image: ghcr.io/grayc-de/plugins/inoa
  ...

techdocs:
  steps:
    generate:
      image: ghcr.io/grayc-de/techdocs
      environment:
        DOCKER_CONFIG_JSON:
          from_secret: DOCKER_CONFIG_JSON
      entrypoint:
      - /techdocs/entrypoint-generate.sh
      - --source-dir
      - docs/techdocs
      - --output-dir
      - docs/target
    publish:
  ...

publish:
  image: ghcr.io/grayc-de/techdocs
  environment:
    PUBLISH_TECHDOCS_SECRET:
      from_secret: GRAYC_TECHDOCS
    DOCKER_CONFIG_JSON:
      from_secret: DOCKER_CONFIG_JSON
  entrypoint:
  - /techdocs/entrypoint-publish.sh
  - --publisher-type
  - googleGcs
  - --storage-name
  - grayc-techdocs
  - --entity
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

test-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn test --no-progress --no-watch
  failure: ignore

INOA-404 Move grafana image to stage config
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 (#410)
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/live/qas/inoa/kustomization.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 (#411)
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/live/qas/inoa/secrets.yaml
Due: kustomize

INOA-404 (#412)
  fluxcd/base/inoa/kustomization.yaml
Due: kustomize

INOA-404 Dedicated Micronaut environment for K8s
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  service/src/main/java/io/inoa/app/package-info.java
  service/src/main/java/io/inoa/fleet/exporter/package-info.java
  service/src/main/java/io/inoa/fleet/mqtt/package-info.java
  service/src/main/java/io/inoa/measurement/translator/package-info.java
  service/src/main/resources/application-k8s.yaml
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Apply linters
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  fluxcd/live/qas/keycloak/realm.yaml
  fluxcd/live/qas/keycloak/secrets.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Add authentication to openapi definition
  fluxcd/base/swagger-ui/files/openapi.yaml
Due: kustomize

INOA-404 Fix Hawkbit user setup
  fluxcd/base/hawkbit/kustomization.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  service/src/main/java/io/inoa/fleet/registry/rest/gateway/GatewayController.java
  service/src/main/resources/application-k8s.yaml
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Fix build pipeline to match QAS namespace
  .woodpecker/build.yaml
Due: build

INOA-404 Add McNoize to QAS
  fluxcd/base/mcnoize/kustomization.yaml
  fluxcd/base/mcnoize/statefulset.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/mcnoize/kustomization.yaml
  fluxcd/live/qas/mcnoize/secrets.yaml
Due: kustomize

INOA-404 Simplify McNoize deployment
  fluxcd/base/mcnoize/statefulset.yaml
Due: kustomize

Update docker.io/redpandadata/console Docker tag to v2.8.5
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: kustomize

INOA-404 Set correct Grafana datasources at QAS
  fluxcd/base/grafana/deployment.yaml
  fluxcd/live/qas/grafana/datasources.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
Due: kustomize

INOA-404 Adjust InfluxDB admin token on QAS
  fluxcd/live/qas/inoa/secrets.yaml
Due: kustomize

INOA-404 Remove outdated datasource credentials for Grafana on QAS
  fluxcd/base/grafana/files/datasources.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/live/qas/inoa/secrets.yaml
Due: kustomize

INOA-404 Add missing image pull secret for McNoize
  fluxcd/base/mcnoize/statefulset.yaml
Due: kustomize

Update dependency com.diffplug.spotless:spotless-maven-plugin to v2.44.3
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fix Linter
  service/src/main/java/io/inoa/fleet/mqtt/MqttProperties.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @types/jasmine to v5.1.7
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency org.keycloak.bom:keycloak-bom-parent to v26.1.4
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @angular-devkit/build-angular to v18.2.17
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

INOA-404 Add ingress for Satellites with custom TLS
  fluxcd/base/inoa/ingress.yaml
Due: kustomize

Update dependency @angular/cli to v18.2.17
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Remove annotation processor versions.
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @types/leaflet to v1.9.17
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency rxjs to v7.8.2
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Increment code style version
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Add ADC and RMS types to API
  api/gen/main/java/io/inoa/rest/MeasurandTypeVO.java
  api/gen/main/java/io/inoa/rest/MeasurandVO.java
  api/gen/main/java/io/inoa/rest/ThingCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeProtocolVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypesApi.java
  api/gen/main/java/io/inoa/rest/ThingUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingsApi.java
  api/gen/test/java/io/inoa/rest/ThingTypesApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingTypesApiTestSpec.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingsApiTestSpec.java
  api/openapi.yaml
  app/src/openapi/api/thingTypes.service.ts
  app/src/openapi/api/things.service.ts
  app/src/openapi/model/measurand.ts
  app/src/openapi/model/thingCreate.ts
  app/src/openapi/model/thingTypeCreate.ts
  app/src/openapi/model/thingTypeProtocol.ts
  app/src/openapi/model/thingTypeUpdate.ts
  app/src/openapi/model/thingUpdate.ts
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Apply code style
  service/src/main/java/io/inoa/fleet/mqtt/handler/MessageHandler.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GroupsController.java
  service/src/main/java/io/inoa/fleet/registry/rest/mapper/ConfigurationMapper.java
  service/src/main/java/io/inoa/measurement/translator/converter/common/ModbusConverter.java
  service/src/test/java/io/inoa/measurement/translator/converter/common/JsonPathConverterTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Simplify version constraints.
  api/pom.xml
  app/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/grafana/grafana Docker tag to v10.2.9
  fluxcd/live/qas/grafana/kustomization.yaml
Due: kustomize

Update dependency org.projectlombok:lombok to v1.18.38
  pom.xml
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Implement controllers according to new API
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandProtocol.java
  service/src/main/java/io/inoa/measurement/things/domain/Thing.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingConfiguration.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/domain/ThingTypeRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/Security.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/MeasurandMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingConfigurationValueMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingTypeMapper.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/builder/modbus/AbstractBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusDVH44013BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006BuilderTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingTypesApiTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-397 Simplify thing creation in API
  api/gen/main/java/io/inoa/rest/MeasurandVO.java
  api/gen/main/java/io/inoa/rest/ThingCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingUpdateConfigurationsInnerVO.java
  api/gen/main/java/io/inoa/rest/ThingUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingVO.java
  api/openapi.yaml
  app/src/openapi/api/auth.service.ts
  app/src/openapi/api/configuration.service.ts
  app/src/openapi/api/credentials.service.ts
  app/src/openapi/api/gateway.service.ts
  app/src/openapi/api/gateways.service.ts
  app/src/openapi/api/groups.service.ts
  app/src/openapi/api/properties.service.ts
  app/src/openapi/api/remote.service.ts
  app/src/openapi/api/tenants.service.ts
  app/src/openapi/api/thingTypes.service.ts
  app/src/openapi/api/things.service.ts
  app/src/openapi/model/gatewayCreate.ts
  app/src/openapi/model/gatewayDetail.ts
  app/src/openapi/model/gatewayLocationData.ts
  app/src/openapi/model/gatewayUpdate.ts
  app/src/openapi/model/measurand.ts
  app/src/openapi/model/models.ts
  app/src/openapi/model/thing.ts
  app/src/openapi/model/thingCreate.ts
  app/src/openapi/model/thingUpdate.ts
  app/src/openapi/model/thingUpdateConfigurationsInner.ts
  fluxcd/base/swagger-ui/files/openapi.yaml
  service/src/main/java/io/inoa/measurement/things/domain/MeasurandTypeRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/MeasurandMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingConfigurationValueMapper.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
Due: build, kustomize, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-397 Try to find out confusing behavior of micronaut data
  service/src/main/java/io/inoa/measurement/things/domain/ThingRepository.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/things/rest/mapper/ThingMapper.java
  service/src/main/resources/db/migration/V005__thingtypes.sql
  service/src/test/java/io/inoa/measurement/things/domain/ThingRepositoryTest.java
  service/src/test/java/io/inoa/measurement/things/rest/ThingsApiTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
Due: build, spotless, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml, docs/backstage/**
  kustomize: any of: fluxcd/**
  dockerfile: any of: **/Dockerfile
  spotless: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
