Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, plugin, techdocs, publish, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config

Update dependency com.diffplug.spotless:spotless-maven-plugin to v2.44.3
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.8.3
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update dependency org.keycloak.bom:keycloak-bom-parent to v26.1.3
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.8.5
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Add Kafka Console to Backstage
  docs/backstage/component-inoa-kafka.yaml
Due: none

Add link to Keycloak admin console
  docs/backstage/component-inoa-keycloak.yaml
Due: none

Add helpfull short links
  docs/backstage/system-inoa-cloud.yaml
Due: none

INOA-401: EMS@ELCO Grafana Dashboard (#385)
  app/src/app/app-routing.module.ts
  app/src/app/app.module.ts
  app/src/app/ems-dashboard/ems-dashboard.component.css
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  app/src/app/home/home.component.html
  app/src/index.html
  node_modules/.yarn-integrity
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
  test/src/test/k3s/dev/grafana/dashboards/fleet/inoa-fleet-iot.json
  test/src/test/k3s/dev/grafana/dashboards/fleet/inoa-fleet-temperature.json
  test/src/test/k3s/dev/grafana/dashboards/kustomization.yaml
  test/src/test/k3s/dev/grafana/files/datasources.yaml
  test/src/test/k3s/dev/grafana/kustomization.yaml
  test/src/test/k3s/test/keycloak/realm.json
  yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.8.4
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update micronaut
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.keycloak.bom:keycloak-bom-parent to v26.1.4
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.8.7
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update micronaut to v4.8.8
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Remove "Kiste" as Kustomization
  fluxcd/kiste/dev/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/config.env
  fluxcd/kiste/dev/mcnoize/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/statefulset.yaml
  fluxcd/kiste/prod/kustomization.yaml
Due: kustomize

INOA-404 Rename "Dev" to "QAS" stage to follow naming conventions
  fluxcd/live/qas/hawkbit/config.env
  fluxcd/live/qas/hawkbit/kustomization.yaml
  fluxcd/live/qas/influxdb/config.env
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/influxdb/pvc.yaml
  fluxcd/live/qas/inoa/config.env
  fluxcd/live/qas/inoa/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
  fluxcd/live/qas/kafka/pvc.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/service-account/kustomization.yaml
  fluxcd/live/qas/service-account/rbac.yaml
Due: kustomize

docs/backstage/system-inoa-cloud.yaml aktualisiert
  docs/backstage/system-inoa-cloud.yaml
Due: none

INOA-404 Clear PROD stage - will be done later
  fluxcd/live/prod/.gitkeep
  fluxcd/live/prod/hawkbit/config.env
  fluxcd/live/prod/hawkbit/kustomization.yaml
  fluxcd/live/prod/influxdb/config.env
  fluxcd/live/prod/influxdb/kustomization.yaml
  fluxcd/live/prod/influxdb/pvc.yaml
  fluxcd/live/prod/inoa/config.env
  fluxcd/live/prod/inoa/kustomization.yaml
  fluxcd/live/prod/kafka-console/kustomization.yaml
  fluxcd/live/prod/kafka/kustomization.yaml
  fluxcd/live/prod/kafka/pvc.yaml
  fluxcd/live/prod/kustomization.yaml
  fluxcd/live/prod/public/documentation/deployment.yaml
  fluxcd/live/prod/public/documentation/ingress.yaml
  fluxcd/live/prod/public/documentation/kustomization.yaml
  fluxcd/live/prod/public/documentation/service.yaml
  fluxcd/live/prod/public/kustomization.yaml
  fluxcd/live/prod/public/redirect/ingress.yaml
  fluxcd/live/prod/public/redirect/kustomization.yaml
Due: kustomize

INOA-404 Sops shall also handle yaml files
  fluxcd/.sops.yaml
Due: kustomize

INOA-404 Add namespace and begin with clean kustomization
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/namespace.yaml
Due: kustomize

INOA-404 Add postgres
  fluxcd/base/postgres/deployment.yaml
  fluxcd/base/postgres/disk.yaml
  fluxcd/base/postgres/kustomization.yaml
  fluxcd/base/postgres/service.yaml
  fluxcd/live/qas/postgres/config.yaml
  fluxcd/live/qas/postgres/kustomization.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Added Keycloak
  fluxcd/base/keycloak/deployment.yaml
  fluxcd/base/keycloak/ingress.yaml
  fluxcd/base/keycloak/kustomization.yaml
  fluxcd/base/keycloak/service.yaml
  fluxcd/live/qas/keycloak/kustomization.yaml
  fluxcd/live/qas/keycloak/realm.yaml
  fluxcd/live/qas/keycloak/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Added Hawkbit
  fluxcd/base/hawkbit/cloudsql.yaml
  fluxcd/base/hawkbit/ingress.yaml
  fluxcd/base/hawkbit/kustomization.yaml
  fluxcd/live/qas/hawkbit/config.env
  fluxcd/live/qas/hawkbit/kustomization.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Add Grafana
  fluxcd/base/grafana/dashboards/ems/inoa-ems-power-data.json
  fluxcd/base/grafana/dashboards/fleet/inoa-fleet-iot.json
  fluxcd/base/grafana/dashboards/fleet/inoa-fleet-temperature.json
  fluxcd/base/grafana/dashboards/kustomization.yaml
  fluxcd/base/grafana/dashboards/minify.sh
  fluxcd/base/grafana/deployment.yaml
  fluxcd/base/grafana/files/dashboards.yaml
  fluxcd/base/grafana/files/datasources.yaml
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/grafana/kustomization.yaml
  fluxcd/base/grafana/rbac.yaml
  fluxcd/base/grafana/service.yaml
  fluxcd/live/qas/grafana/kustomization.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Add InfluxDB
  fluxcd/base/influxdb/kustomization.yaml
  fluxcd/base/influxdb/pvc.yaml
  fluxcd/live/qas/influxdb/config.env
  fluxcd/live/qas/influxdb/kustomization.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
Due: kustomize

INOA-404 Add Kafka UI
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/kafka-console/kustomization.yaml
  fluxcd/base/kafka/kustomization.yaml
  fluxcd/live/qas/kafka-console/kustomization.yaml
  fluxcd/live/qas/kafka/kustomization.yaml
Due: kustomize

INOA-404 Add SwaggerUI
  fluxcd/base/swagger-ui/deployment.yaml
  fluxcd/base/swagger-ui/ingress.yaml
  fluxcd/base/swagger-ui/kustomization.yaml
  fluxcd/base/swagger-ui/service.yaml
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: kustomize

INOA-404 Add INOA
  fluxcd/base/inoa/certificate.yaml
  fluxcd/base/inoa/cloudsql.yaml
  fluxcd/base/inoa/ingress.yaml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/base/inoa/service.yaml
  fluxcd/live/qas/inoa/config.env
  fluxcd/live/qas/inoa/kustomization.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
Due: kustomize

INOA-404 Fix Kustomize errors
  api/pom.xml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/base/swagger-ui/files/openapi.yaml
  fluxcd/base/swagger-ui/kustomization.yaml
Due: build, kustomize, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-404 Fix build and linter
  .woodpecker/lint.yaml
  fluxcd/base/grafana/ingress.yaml
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/keycloak/ingress.yaml
  fluxcd/live/qas/grafana/secrets.yaml
  fluxcd/live/qas/hawkbit/secrets.yaml
  fluxcd/live/qas/influxdb/secrets.yaml
  fluxcd/live/qas/inoa/secrets.yaml
  fluxcd/live/qas/keycloak/realm.yaml
  fluxcd/live/qas/keycloak/secrets.yaml
  fluxcd/live/qas/kustomization.yaml
  fluxcd/live/qas/postgres/config.yaml
  fluxcd/live/qas/postgres/secrets.yaml
Due: kustomize

INOA-404 Exclude Prod from build pipeline until ready
  .woodpecker/lint.yaml
Due: none

Update docker.io/redpandadata/console Docker tag to v2.8.5
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update micronaut to v4.8.9
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors
