Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, markdown, shell, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  depends_on: []
  commands:
  - kubectl kustomize ./fluxcd/kiste/dev
  - kubectl kustomize ./fluxcd/kiste/prod
  - kubectl kustomize ./fluxcd/live/dev
  - kubectl kustomize ./fluxcd/live/prod

maven:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  commands:
  - mvn validate

markdown:
  image: ghcr.io/grayc-de/plugins/markdownlint
  depends_on: []

shell:
  image: ghcr.io/grayc-de/plugins/shellcheck
  depends_on: []

yaml:
  image: ghcr.io/grayc-de/plugins/yamllint
  depends_on: []

yarn:
  image: ghcr.io/grayc-de/plugins/yarn:node18
  depends_on: []
  directory: app
  commands:
  - sed -i 's_https://registry.yarnpkg.com_http://nexus.development.svc.cluster.local/repository/npmjs.org_g' yarn.lock
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

test-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-service
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - DOCKER_HOST=tcp://$(docker run --rm --network host debian:stable-slim hostname -I | tr ' ' '\n' | grep 10.42):2375
  ...

test-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn test --no-progress --no-watch
  failure: ignore

figure out what DOCKER_IP is.
  .woodpecker/verify.yaml
Due: yaml

removed echo that was just for debugging.
  .woodpecker/verify.yaml
Due: yaml

Fixed default configuration per instance. This is now always available and configured via ${inoa.domain} parameter.
  service/src/main/java/io/inoa/ApplicationProperties.java
  service/src/main/java/io/inoa/fleet/FleetProperties.java
  service/src/main/java/io/inoa/fleet/ota/HawkbitClientFilter.java
  service/src/main/java/io/inoa/fleet/registry/auth/GatewayTokenService.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/Security.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/TenantSecurityFilter.java
  service/src/main/java/io/inoa/fleet/registry/service/ConfigurationService.java
  service/src/main/resources/application-k3s.yaml
  service/src/main/resources/db/migration/V006__remove_tenant_configurations.sql
  service/src/test/java/io/inoa/fleet/Data.java
  service/src/test/java/io/inoa/fleet/registry/auth/GatewayTokenHelper.java
  service/src/test/java/io/inoa/fleet/registry/rest/gateway/GatewayApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/ConfigurationApiTest.java
  service/src/test/java/io/inoa/test/AbstractUnitTest.java
  service/src/test/resources/application-test.yaml
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fixing GatewayIT test.
  service/src/main/resources/application-k3s.yaml
  test/src/test/resources/application-test.properties
Due: build, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fixing GatewayIT test. Now the Mqtt Test client is also able to use non tls connections. Hopefully.
  .run/mvn clean install.run.xml
  test/src/test/java/io/inoa/test/client/MqttBrokerClient.java
Due: maven, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

New try with ktunnel and kubectl port-forward
  .run/INOA-Service.run.xml
  README.md
  docs/assets/intellij-run.png
  docs/gateway-config.md
  inoa-startup.sh
  inoa-tests.http
  service/src/main/java/io/inoa/controller/app/AngularAuthenticationFetcher.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GatewaysController.java
  service/src/main/resources/application-k3s.yaml
  service/src/main/resources/application-local.yaml
  service/src/main/resources/application.yaml
  test/src/test/k3s/test/keycloak/realm.json
Due: build, maven, markdown, shell, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Add ABB meter config for translator (#143)
  service/src/main/resources/application-translator.yaml
  service/src/main/resources/db/migration/V006__new_schema_for_abb-b23.sql
Due: build, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Some improvements.
  .run/mvn clean install.run.xml
  app/package.json
  inoa-shutdown.sh
  inoa-startup.sh
Due: build, shell, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Some improvements.
  app/.yarnrc.yml
  app/yarn.lock
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Merged main branch into the keycloak enablement. Fixed docu and thrown out telepresence.
  .run/Telepresence - Intercept.run.xml
  README.md
  inoa-shutdown.sh
  inoa-startup.sh
  service/src/main/resources/db/migration/V007__remove_tenant_configurations.sql
Due: build, markdown, shell, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

yaml linting.
  app/.yarnrc.yml
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Set port forwarding for database and kafka.
  docs/assets/developer-setups.drawio
  inoa-startup.sh
  service/src/main/resources/application-local.yaml
  test/pom.xml
  test/src/test/k3s/dev/help/developer-setups.svg
Due: build, maven, shell, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Rise Keycloak version to 25.0.4 and Micronaut version to 4.5.1 (#140)
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
  test/src/test/k3s/test/keycloak/deployment.yaml
  test/src/test/k3s/test/keycloak/kustomization.yaml
  test/src/test/k3s/test/keycloak/realm.json
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

removed local test file
  inoa-tests.http
Due: none

Removed telepresence-intercept.sh and moved doc files into doc folder.
  .gitignore
  docs/RpcCommands.md
  docs/ThingTypes.md
  telepresence-intercept.sh
Due: markdown, shell

Removed diagram from help page because ConfigMap was becoming to big. Next step should be to add the doc project here.
  test/src/test/k3s/dev/help/deployment.yaml
  test/src/test/k3s/dev/help/developer-setups.svg
  test/src/test/k3s/dev/help/kustomization.yaml
  test/src/test/k3s/dev/help/overview.html
Due: yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Removed telepresence from docu.
  .run/INOA-Service.run.xml
  .run/mvn clean install.run.xml
  README.md
  test/src/test/k3s/dev/help/help.html
Due: markdown, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Trying out devspace for better developer experience.
  devspace.yaml
  devspace/devspace_start.sh
  test/src/test/k3s/test/inoa/deployment.yaml
Due: shell, yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

INOA-379: Protocols on thingtypes in database (#146)
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.html
  app/src/app/dialogs/thing-creation-dialog/thing-creation-dialog.component.ts
  app/src/app/services/dialog-service.ts
  service/src/main/resources/db/migration/V004__measurement_fix.sql
  service/src/main/resources/db/migration/V008__protocol_on_thing_types.sql
  service/src/main/resources/db/migration/V009__new_schema_for_sct-013.sql
  service/src/main/resources/db/migration/V010__update_schema_s0_port_enum.sql
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Fixed locally running yarn instance with environment file. (#148)
  .env.template
  app/.yarnrc.yml
  app/src/proxy.conf.mjs
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

INOA-372 Add ability to apply factor to raw values (#147)
  service/src/main/java/io/inoa/controller/translator/converter/common/NumberConverter.java
  service/src/main/resources/application-translator.yaml
  service/src/test/java/io/inoa/controller/translator/converter/common/NumberConverterTest.java
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-380: AuthService + Working Whoami Box (#150)
  api/gen/main/java/io/inoa/rest/AuthApi.java
  api/gen/main/java/io/inoa/rest/UserVO.java
  api/gen/test/java/io/inoa/rest/AuthApiTestClient.java
  api/gen/test/java/io/inoa/rest/AuthApiTestSpec.java
  api/openapi.yaml
  app/src/app/whoami-box/whoami-box.component.css
  app/src/app/whoami-box/whoami-box.component.html
  app/src/app/whoami-box/whoami-box.component.ts
  app/src/openapi/api/api.ts
  app/src/openapi/api/auth.service.ts
  app/src/openapi/model/models.ts
  app/src/openapi/model/user.ts
  service/src/main/java/io/inoa/fleet/registry/rest/management/AuthContoller.java
  service/src/main/java/io/inoa/measurement/things/rest/Security.java
Due: build, maven, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

INOA-372 Fix Plugin and Deploy Build (#153)
  .woodpecker/build.yaml
  .woodpecker/plugin.yaml
  pom.xml
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fix Plugin Build
  .woodpecker/plugin/requirements.txt
Due: none

Change UI to productive environment
  app/pom.xml
Due: build, maven, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

added mostly empty ems-dashboard scaffolding component
  app/src/app/app-routing.module.ts
  app/src/app/app.module.ts
  app/src/app/ems-dashboard/ems-dashboard.component.css
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  app/src/app/home/home.component.html
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Fix Plugin Build (#154)
  .woodpecker/plugin/requirements.txt
  .woodpecker/verify.yaml
  app/pom.xml
Due: build, maven, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Provide Git state in Frontend
  .gitignore
  app/pom.xml
  app/src/environments-template/environment.development.ts
  app/src/environments-template/environment.mockserver.ts
  app/src/environments-template/environment.production.ts
  app/src/environments/environment.development.ts
  app/src/environments/environment.mockserver.ts
  app/src/environments/environment.production.ts
Due: build, maven, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

fixed influxdb path issue
  app/src/app/ems-dashboard/ems-dashboard.component.html
  test/src/test/k3s/dev/grafana/files/datasources.yaml
Due: build, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

added new dashboard file without much in it to later be made into the ems heatmap
  test/src/test/k3s/dev/grafana/dashboards/fleet/inoa-ems-heatmap.json
  test/src/test/k3s/dev/grafana/dashboards/kustomization.yaml
Due: yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Use latest dependency versions
  pom.xml
  service/src/test/java/io/inoa/test/KafkaSink.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Use plugin/node image as base for our INOA build plugin
  .woodpecker/plugin/Dockerfile
Due: none

added some test dashboards to grafana
  app/src/app/ems-dashboard/ems-dashboard.component.css
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
  test/src/test/k3s/dev/grafana/dashboards/fleet/inoa-fleet-iot.json
  test/src/test/k3s/dev/grafana/dashboards/fleet/inoa-fleet-temperature.json
  test/src/test/k3s/dev/grafana/dashboards/kustomization.yaml
  test/src/test/k3s/dev/grafana/files/datasources.yaml
  test/src/test/k3s/dev/grafana/kustomization.yaml
Due: build, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

spotlessed
  test/src/test/k3s/dev/grafana/dashboards/kustomization.yaml
Due: yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  markdown: any of: **/*.md, .markdownlint.yaml
  shell: any of: **/*.sh
  yaml: any of: **/*.yaml, .yamllint.yaml
  yarn: any of: app/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
