Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, markdown, shell, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  markdown: any of: **/*.md, .markdownlint.yaml
  shell: any of: **/*.sh
  yaml: any of: **/*.yaml, .yamllint.yaml
  yarn: any of: app/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config

Move modbus util to api, will be available for tests (#97)
  api/src/main/java/io/inoa/util/Modbus.java
  api/src/test/java/io/inoa/util/ModbusTest.java
  service/src/main/java/io/inoa/controller/translator/converter/common/ModbusConverter.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/Utils.java
  service/src/test/java/io/inoa/controller/translator/modbus/CRC16Test.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Move kafka constants to api package (#98)
  api/src/main/java/io/inoa/messaging/KafkaHeader.java
  service/src/main/java/io/inoa/controller/mqtt/handler/ConnectionHandler.java
  service/src/main/java/io/inoa/controller/mqtt/handler/MessageHandler.java
  service/src/main/java/io/inoa/controller/translator/service/TranslateListener.java
  service/src/main/java/io/inoa/fleet/registry/KafkaHeader.java
  service/src/main/java/io/inoa/fleet/registry/messaging/ConnectionEventListener.java
  service/src/test/java/io/inoa/controller/mqtt/AbstractMqttTest.java
  service/src/test/java/io/inoa/controller/mqtt/handler/ConnectionHandlerTest.java
  service/src/test/java/io/inoa/controller/mqtt/handler/MessageHandlerTest.java
  service/src/test/java/io/inoa/fleet/registry/messaging/ConnectionEventListenerTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.3.6 (#101)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Refactored telemetry (#100)
  api/gen/main/java/io/inoa/rest/TelemetryRawVO.java
  api/openapi.yaml
  api/src/main/java/io/inoa/messaging/TelemetryRawVO.java
  app/src/openapi/model/models.ts
  app/src/openapi/model/telemetryRaw.ts
  pom.xml
  service/src/main/java/io/inoa/controller/mqtt/MqttServiceClient.java
  service/src/main/java/io/inoa/controller/translator/converter/Converter.java
  service/src/main/java/io/inoa/controller/translator/converter/common/JsonConverter.java
  service/src/main/java/io/inoa/controller/translator/converter/common/JsonPathConverter.java
  service/src/main/java/io/inoa/controller/translator/converter/common/ModbusConverter.java
  service/src/main/java/io/inoa/controller/translator/converter/common/NumberConverter.java
  service/src/main/java/io/inoa/controller/translator/converter/common/S0Converter.java
  service/src/main/java/io/inoa/controller/translator/service/TranslateListener.java
  service/src/main/java/io/inoa/controller/translator/service/TranslateService.java
  service/src/test/java/io/inoa/controller/translator/AbstractTranslatorTest.java
  service/src/test/java/io/inoa/controller/translator/converter/common/JsonConverterTest.java
  service/src/test/java/io/inoa/controller/translator/converter/common/JsonPathConverterTest.java
  service/src/test/java/io/inoa/controller/translator/converter/common/ModbusConverterTest.java
  service/src/test/java/io/inoa/controller/translator/converter/common/NumberConverterTest.java
  service/src/test/java/io/inoa/controller/translator/converter/common/S0ConverterTest.java
  service/src/test/java/io/inoa/controller/translator/service/TranslateServiceTest.java
  test/src/test/java/io/inoa/it/GatewayIT.java
  test/src/test/java/io/inoa/test/client/MqttBrokerClient.java
Due: build, maven, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Move event logger into exporter (#103)
  service/src/main/java/io/inoa/controller/exporter/ExporterFactory.java
  service/src/main/java/io/inoa/controller/exporter/InfluxDBListener.java
  service/src/main/java/io/inoa/controller/exporter/LogEventListener.java
  service/src/main/java/io/inoa/controller/exporter/LogMetrics.java
  service/src/test/java/io/inoa/controller/exporter/LogEventListenerTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Move remoting stuff into mqtt controller (#102)
  service/src/main/java/io/inoa/controller/mqtt/remoting/RemoteController.java
  service/src/main/java/io/inoa/controller/mqtt/remoting/RemotingHandler.java
  service/src/main/java/io/inoa/controller/mqtt/remoting/RemotingService.java
  service/src/test/java/io/inoa/controller/mqtt/remoting/RemoteControllerTest.java
  service/src/test/java/io/inoa/controller/mqtt/remoting/RemotingServiceTest.java
  service/src/test/java/io/inoa/controller/mqtt/remoting/TestMqttListener.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Bump mcnoize (#104)
  fluxcd/kiste/dev/kustomization.yaml
  pom.xml
Due: build, kustomize, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Do not close renovate, simplify dockerd service name (#106)
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
  renovate.json
Due: build, yaml

Update dependency org.projectlombok:lombok to v1.18.32 (#108)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update for woodpecker 2.4.0 (#112)
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
Due: build, yaml

Update dependency @angular-devkit/build-angular to v16.2.13 (#114)
  app/yarn.lock
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency org.keycloak.bom:keycloak-bom-parent to v24.0.2 (#113)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.3.7 (#111)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut:micronaut-inject-java to v4.3.12 (#110)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut:micronaut-inject-java to v4.3.13 (#115)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Ignore cloud event updates (#117)
  pom.xml
  renovate.json
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Serialize timestamps to iso8601 instead of numbers (#116)
  service/src/main/resources/application.yaml
  test/src/test/java/io/inoa/it/ApiIT.java
  test/src/test/java/io/inoa/test/AbstractIntegrationTest.java
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Renovate should ignore lokal parent `io.inoa:inoa-parent` (#118)
  renovate.json
Due: none

Reviewed annotation processors, use only one micronaut dependency (#119)
  api/pom.xml
  pom.xml
  service/pom.xml
  test/pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.bouncycastle:bcpkix-jdk18on to v1.78 (#120)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.platform:micronaut-platform to v4.3.8 (#122)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.4.6 (#121)
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Update dependency org.keycloak.bom:keycloak-bom-parent to v24.0.3 (#124)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.bouncycastle:bcpkix-jdk18on to v1.78.1 (#123)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update docker.io/library/influxdb Docker tag to v2.7.6 (#125)
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Update dependency @angular-devkit/build-angular to v16.2.14 (#126)
  app/yarn.lock
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v2.4.7 (#128)
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Added some docu content for locally set-up of INOA and Groundcontrol (#129)
  .editorconfig
  .gitignore
  README.md
Due: markdown

Update dependency io.micronaut.platform:micronaut-platform to v4.4.3 (#127)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.keycloak.bom:keycloak-bom-parent to v24.0.4 (#130)
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

fix maven compiler to work with all IDEs (#132)
  .editorconfig
  pom.xml
  service/pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

enable serving static file content (#133)
  .editorconfig
  service/pom.xml
  service/src/main/java/io/inoa/controller/app/AngularAuthenticationFetcher.java
  service/src/main/java/io/inoa/controller/app/AppSecurityRule.java
  service/src/main/java/io/inoa/controller/app/KeycloakEndSessionEndpointResolver.java
  service/src/main/java/io/inoa/controller/app/StaticFilesController.java
  service/src/test/java/io/inoa/controller/app/AppFilesTest.java
  service/src/test/resources/application-test.yaml
  test/src/test/java/io/inoa/it/AppFilesIT.java
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Fixed Flyway scripts. (#134)
  service/src/main/resources/db/migration/V003__measurement.sql
  service/src/main/resources/db/migration/V004__measurement_fix.sql
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Upgrade of App dependencies for Ground Control. (#135)
  app/angular.json
  app/package.json
  app/src/app/measurement-collector/measurement-collector.component.ts
  app/src/custom-theme.scss
  app/yarn.lock
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

First commit of plugin extension.
  README.md
  api/src/main/java/io/inoa/thingtypes/ThingTypeDefinition.java
  pom.xml
  service/application-dev.yaml
  service/src/main/java/io/inoa/measurement/thingtypes/ThingTypeRegistry.java
  test/src/test/k3s/dev/help/help.html
  test/src/test/k3s/test/postgres/service.yaml
  thingtypes/pom.xml
  thingtypes/shelly-plug-s/pom.xml
  thingtypes/shelly-plug-s/src/main/java/io/inoa/thingtypes/shelly/plugs/ShellyPlugSThingTypeDefinition.java
  thingtypes/shelly-plug-s/src/main/resources/META-INF/services/io.inoa.thingtypes.ThingTypeDefinition
Due: build, maven, markdown, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Added launch configuration.
  .run/INOA Cloud Service.run.xml
Due: none

First version where local instance is running with groundcotrol. Don't forget localhost entry: 172.17.0.2 kafka.default.svc.cluster.local
  .run/Application.run.xml
  service/src/main/resources/application-k3s.yaml
  test/pom.xml
  test/src/test/k3s/test/kafka/service.yaml
  test/src/test/k3s/test/keycloak/realm.json
  test/src/test/k3s/test/postgres/service.yaml
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Added Start script for Windows in Docu.
  docs/developer-guide/getting-started.md
Due: markdown

added temp service to send rpc commands via rest
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors
