Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, markdown, shell, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  depends_on: []
  commands:
  - kubectl kustomize ./fluxcd/kiste/dev
  - kubectl kustomize ./fluxcd/kiste/prod
  - kubectl kustomize ./fluxcd/live/dev
  - kubectl kustomize ./fluxcd/live/prod

maven:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  commands:
  - mvn validate

markdown:
  image: ghcr.io/grayc-de/plugins/markdownlint
  depends_on: []

shell:
  image: ghcr.io/grayc-de/plugins/shellcheck
  depends_on: []

yaml:
  image: ghcr.io/grayc-de/plugins/yamllint
  depends_on: []

yarn:
  image: ghcr.io/grayc-de/plugins/yarn:node18
  depends_on: []
  directory: app
  commands:
  - sed -i 's_https://registry.yarnpkg.com_http://nexus.development.svc.cluster.local/repository/npmjs.org_g' yarn.lock
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

test-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-service
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - DOCKER_HOST=tcp://$(docker run --rm --network host debian:stable-slim hostname -I | tr ' ' '\n' | grep 10.42):2375
  ...

test-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn test --no-progress --no-watch
  failure: ignore

added new markdown document showing rpc commands, what they do and what parameters they require (if known)
  RpcCommands.md
  app/src/app/satellite-manager/satellite-manager.component.ts
Due: build, markdown, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

added random uuids and rebooting from table action button
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

ricos requests again
  app/package.json
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
  app/yarn.lock
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

linting
  RpcCommands.md
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
Due: build, markdown, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

more linting
  RpcCommands.md
Due: markdown

even more linting
  RpcCommands.md
Due: markdown

RPC via Rest (#136)
  RpcCommands.md
  app/package.json
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.ts
  app/yarn.lock
Due: build, markdown, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Added documentation stuff for local environment.
  docs/developer-guide/developer-environment.png
  docs/developer-guide/developer-setups.drawio
  docs/developer-guide/developer-setups.md
  test/src/test/k3s/dev/help/deployment.yaml
  test/src/test/k3s/dev/help/developer-setups.svg
  test/src/test/k3s/dev/help/help.html
  test/src/test/k3s/dev/help/index.html
  test/src/test/k3s/dev/help/kustomization.yaml
  test/src/test/k3s/dev/help/overview.html
Due: markdown, yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Harmonized port configuration.
  test/pom.xml
  test/src/test/k3s/test/influxdb/service.yaml
  test/src/test/k3s/test/inoa/deployment.yaml
  test/src/test/k3s/test/inoa/kustomization.yaml
  test/src/test/k3s/test/inoa/service.yaml
Due: maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Harmonized port configuration for Keycloak. Made local apps able to login and work. k3s instance is still not working.
  service/src/main/java/io/inoa/controller/app/AngularAuthenticationFetcher.java
  service/src/main/java/io/inoa/fleet/registry/rest/OpenApiController.java
  service/src/main/resources/application-k3s.yaml
  test/src/test/k3s/dev/grafana/kustomization.yaml
  test/src/test/k3s/dev/mcnoize/kustomization.yaml
  test/src/test/k3s/dev/swagger-ui/deployment.yaml
  test/src/test/k3s/test/keycloak/service.yaml
Due: build, maven, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

small updates & fixes.
  test/pom.xml
  test/src/test/k3s/test/keycloak/realm.json
Due: maven, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Adjust API to discussed ThingTypes model - part I
  api/gen/main/java/io/inoa/rest/CloudEventTypeVO.java
  api/gen/main/java/io/inoa/rest/MeasurandProtocolVO.java
  api/gen/main/java/io/inoa/rest/MeasurandTypeVO.java
  api/gen/main/java/io/inoa/rest/MeasurandVO.java
  api/gen/main/java/io/inoa/rest/ThingConfigurationTypeVO.java
  api/gen/main/java/io/inoa/rest/ThingConfigurationVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeChannelCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeChannelVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeCreateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeUpdateVO.java
  api/gen/main/java/io/inoa/rest/ThingTypeVO.java
  api/gen/main/java/io/inoa/rest/ThingTypesApi.java
  api/gen/test/java/io/inoa/rest/ThingTypesApiTestClient.java
  api/gen/test/java/io/inoa/rest/ThingTypesApiTestSpec.java
  api/openapi.yaml
  app/src/openapi/api/configuration.service.ts
  app/src/openapi/api/credentials.service.ts
  app/src/openapi/api/gateway.service.ts
  app/src/openapi/api/gateways.service.ts
  app/src/openapi/api/groups.service.ts
  app/src/openapi/api/properties.service.ts
  app/src/openapi/api/remote.service.ts
  app/src/openapi/api/tenants.service.ts
  app/src/openapi/api/thingTypes.service.ts
  app/src/openapi/api/things.service.ts
  app/src/openapi/model/cloudEventType.ts
  app/src/openapi/model/measurand.ts
  app/src/openapi/model/measurandProtocol.ts
  app/src/openapi/model/measurandType.ts
  app/src/openapi/model/models.ts
  app/src/openapi/model/thingConfiguration.ts
  app/src/openapi/model/thingConfigurationType.ts
  app/src/openapi/model/thingType.ts
  app/src/openapi/model/thingTypeChannel.ts
  app/src/openapi/model/thingTypeChannelCreate.ts
  app/src/openapi/model/thingTypeUpdate.ts
  docs/assets/puml/tingtype.puml
Due: build, maven, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Optimized start scripts and IntelliJ run configurations.
  .run/01. INOA-Startup.run.xml
  .run/02. Telepresence-Start.run.xml
  .run/03. INOA - Cloud.run.xml
  .run/05. INOA-Shutdown.run.xml
  inoa-startup.sh
  telepresence-start.sh
  telepresence-stop.sh
Due: shell

Harmonized micronaut configuration and ports.
  service/src/main/resources/application-k3s.yaml
  service/src/main/resources/application-local.yaml
  test/src/test/k3s/dev/mcnoize/kustomization.yaml
  test/src/test/k3s/dev/mcnoize/statefulset.yaml
  test/src/test/k3s/test/inoa/deployment.yaml
  test/src/test/k3s/test/inoa/kustomization.yaml
  test/src/test/k3s/test/inoa/service.yaml
Due: build, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Re-enabled Anguar-Hack because client configuration is not set in Angualr app.
  service/src/main/java/io/inoa/controller/app/AngularAuthenticationFetcher.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Set attributes to transient because of compiler warnings that lead to build fail.
  service/src/main/java/io/inoa/fleet/registry/auth/GatewayAuthentication.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Optimized local dev setup links a little.
  test/src/test/k3s/dev/help/index.html
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

set compiler settings to new pattern to remove build warnings / errors.
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Removed additional flyway file because it lead to problems in case of local started service in cobination with k3s database.
  test/src/test/k3s/test/inoa/R__data.sql
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Enabled tenants claim in token to allow apis to fetch gateways. This is still hard coded and must be re-think.
  test/src/test/k3s/test/keycloak/realm.json
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Added telepresence to list of tools in use.
  README.md
Due: markdown

Documented developer setup usage.
  README.md
  docs/assets/developer-setups.drawio
  docs/assets/intellij-run.png
  docs/developer-guide/developer-environment.png
  docs/developer-guide/developer-setups.md
  docs/developer-guide/getting-started.md
  test/src/test/k3s/dev/help/index.html
Due: markdown, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Linting problems.
  README.md
Due: markdown

Linting problems.
  inoa-startup.sh
Due: shell

Linting problems.
  service/src/main/resources/application-k3s.yaml
  test/src/test/k3s/test/keycloak/service.yaml
Due: build, yaml, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Linting problems shellcheck.
  inoa-shutdown.sh
  inoa-startup.sh
Due: shell

fixed client_id.
  test/src/test/java/io/inoa/test/client/KeycloakClient.java
Due: maven, preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

shellcheck isn't able to find an .env file.
  inoa-shutdown.sh
  inoa-startup.sh
Due: shell

shellcheck isn't able to find an .env file.
  telepresence-intercept.sh
Due: shell

using full qualified name for local Angular app to be more robust.
  app/src/proxy.conf.mjs
Due: build, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Fixed launch configurations. Verified the existence of the .env file before launching some stuff.
  .run/INOA-Cloud - Startup.run.xml
  .run/INOA-Service.run.xml
  README.md
  inoa-shutdown.sh
  inoa-startup.sh
  telepresence-intercept.sh
Due: markdown, shell

try to fix verify:integration-test step.
  .woodpecker/verify.yaml
Due: yaml

RPC Command History + small changes (#138)
  .markdownlint.yaml
  RpcCommands.md
  ThingTypes.md
  api/openapi.yaml
  app/src/app/app.component.html
  app/src/app/app.component.sass
  app/src/app/app.component.ts
  app/src/app/app.module.ts
  app/src/app/rpc-history-panel/rpc-history-panel.component.css
  app/src/app/rpc-history-panel/rpc-history-panel.component.html
  app/src/app/rpc-history-panel/rpc-history-panel.component.spec.ts
  app/src/app/rpc-history-panel/rpc-history-panel.component.ts
  app/src/app/rpc-history-panel/rpc-history-service.ts
  app/src/app/rpc-mqtt-service.ts
  app/src/app/rpc-rest-service.ts
  app/src/app/satellite-manager/satellite-manager.component.css
  app/src/app/satellite-manager/satellite-manager.component.html
  app/src/app/satellite-manager/satellite-manager.component.ts
  app/src/styles.sass
  service/src/main/resources/application-translator.yaml
  service/src/main/resources/db/migration/V005__new_schema_for_plusplugS.sql
  service/src/test/java/io/inoa/controller/translator/converter/common/JsonPathConverterTest.java
Due: build, maven, markdown, yaml, yarn, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Open Ground Control in new Tab per default.
  test/src/test/k3s/dev/help/help.html
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Debugging woodpecker verify.yaml. DOCKER_IP is empty...
  .woodpecker/verify.yaml
Due: yaml

added clean startup file.
  .run/INOA-Cloud - Clean Startup.run.xml
Due: none

figure out what DOCKER_IP is.
  .woodpecker/verify.yaml
Due: yaml

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  markdown: any of: **/*.md, .markdownlint.yaml
  shell: any of: **/*.sh
  yaml: any of: **/*.yaml, .yamllint.yaml
  yarn: any of: app/**
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
