Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, plugin, techdocs, publish, verify, test-yarn, test-service, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, .woodpecker/maven/**, api/**, app/**, service/**, pom.xml, lombok.config, Dockerfile*
  lint: any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**
  renovate: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, renovate.json)
  dockerfile: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/Dockerfile)
  yaml: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .yamllint.yaml, **/*.y*ml)
  markdown: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, .markdownlint.yaml, **/*.md)
  shellcheck: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, **/*.sh)
  backstage: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, catalog-info.yaml, docs/backstage/**)
  kustomize: (any of: .woodpecker/lint.yaml, renovate.json, **/*.y*ml, **/*.md, **/*.sh, **/Dockerfile, fluxcd/**) and (any of: .woodpecker/lint.yaml, fluxcd/**)
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  techdocs: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  publish: any of: .woodpecker/techdocs.yaml, docs/techdocs/**
  verify: any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  test-yarn: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: app/**)
  test-service: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any of: pom.xml, api/**, service/**)
  integration-test: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)
  integration-errors: (any of: .woodpecker/verify.yaml, .woodpecker/maven/**, api/**, app/**, service/**, image/**, pom.xml, lombok.config) and (any file but: app/**)

Fix build.
  .woodpecker/build.yaml
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

Use default kokuwaio plugin
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize

Update docker.io/library/node Docker tag to v20.19.3
  Dockerfile
Due: build, lint, dockerfile

Update @typescript-eslint to v8.35.0
  app/yarn.lock
Due: build, verify, test-yarn

Update docker.io/library/maven Docker tag to v3.9.10
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

Update docker.io/redpandadata/console Docker tag to v3.1.2
  fluxcd/live/qas/kafka-console/kustomization.yaml
Due: lint, yaml, kustomize

Update dependency @types/leaflet to v1.9.19
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency org.openapitools:openapi-generator-maven-plugin to v7.14.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency net.revelc.code.formatter:formatter-maven-plugin to v2.27.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/swaggerapi/swagger-ui Docker tag to v5.25.3
  fluxcd/live/qas/swagger-ui/kustomization.yaml
Due: lint, yaml, kustomize

Disable updates for swaggerui because broken images.
  fluxcd/live/qas/swagger-ui/kustomization.yaml
  renovate.json
Due: lint, renovate, yaml, kustomize

chore(deprecation): refactor to avoid deprecated netty function
  service/src/main/java/io/inoa/fleet/mqtt/MqttFactory.java
Due: build, verify, test-service, integration-test, integration-errors

chore(deprecation): refactor to avoid deprecated jackson function
  service/src/main/java/io/inoa/measurement/translator/converter/common/JsonConverter.java
Due: build, verify, test-service, integration-test, integration-errors

Update docker.io/library/traefik Docker tag to v2.11.26
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

Update dependency eslint to v9.30.0
  app/yarn.lock
Due: build, verify, test-yarn

Update dependency io.micronaut.platform:micronaut-platform to v4.9.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): update docker.io/library/traefik docker tag to v2.11.26
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(ci): use default kokuwaio plugin
  .woodpecker/lint.yaml
Due: lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize

chore(deps): update dependency eslint to v9.30.0
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update @typescript-eslint to v8.35.1
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update docker.io/library/node:20.19.3-slim docker digest to dfeddda
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update dependency io.kokuwa.micronaut:micronaut-logging to v5
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): update dependency eslint to v9.30.1
  app/yarn.lock
Due: build, verify, test-yarn

chore(deps): update dependency io.micronaut.platform:micronaut-platform to v4.9.0
  pom.xml
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): updates needed for micronaut 4.9.0
  service/src/main/java/io/inoa/fleet/registry/rest/management/CredentialsController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GatewaysController.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/GroupsController.java
Due: build, verify, test-service, integration-test, integration-errors

chore(deps): update docker.io/library/node:20.19.3-slim docker digest to f8f6771
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/eclipse-temurin:21.0.7_6-jre docker digest to ffed502
  Dockerfile
Due: build, lint, dockerfile

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to 8303043
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to f2d5985
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(deps): update docker.io/library/maven:3.9.10-eclipse-temurin-21 docker digest to 615bd38
  .woodpecker/verify.yaml
  Dockerfile
Due: build, lint, dockerfile, yaml, verify, integration-test, integration-errors

chore(ci): use tags for woodpecker images
  .woodpecker/deploy.yaml
  .woodpecker/lint.yaml
  .woodpecker/maven/registries-ci.yaml
  .woodpecker/maven/registries.yaml
  .woodpecker/maven/settings.xml
  .woodpecker/techdocs.yaml
  test/pom.xml
Due: build, lint, renovate, dockerfile, yaml, markdown, shellcheck, backstage, kustomize, techdocs, publish, verify, integration-test, integration-errors

chore(renovate): migrate to central renovate config
  renovate.json
Due: lint, renovate

chore(ci): migrate from docker build to buildkit daemon
  .woodpecker/deploy.yaml
  .woodpecker/verify.yaml
Due: lint, yaml, verify, integration-test, integration-errors

chore(deps): pin dependencies
  app/package.json
  app/yarn.lock
Due: build, verify, test-yarn
