Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, backstage, kustomize, maven, plugin, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

build:
  steps:
    deploy:
      image: ghcr.io/grayc-de/plugins/maven
      environment:
      - DOCKER_HOST=tcp://dockerd:2375
      commands:
      - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
      - mvn deploy -pl image -am -Dcheck.skip -DskipTests -T1C
      secrets:
  ...

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  depends_on: []
  commands:
  - kubectl kustomize ./fluxcd/kiste/dev
  - kubectl kustomize ./fluxcd/kiste/prod
  - kubectl kustomize ./fluxcd/live/dev
  - kubectl kustomize ./fluxcd/live/prod

maven:
  image: ghcr.io/grayc-de/plugins/inoa
  depends_on: []
  commands:
  - mvn validate

plugin:
  steps:
    prepare:
      image: ghcr.io/grayc-de/plugins/inoa
      commands:
      - cp docs/user-manual/requirements.txt .woodpecker/plugin/requirements.txt
    build:
      image: ghcr.io/grayc-de/plugins/kaniko
      secrets:
      - DOCKER_CONFIG_JSON
      settings:
        context: .woodpecker/plugin
  ...

preload-images:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mkdir $HOME/.docker && echo "$DOCKER_CONFIG_JSON" > $HOME/.docker/config.json
  - docker pull --quiet docker.io/library/debian:stable-slim &
  ...

preload-yarn:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on: []
  directory: app
  commands:
  - yarn config --no-defaults
  - yarn install --immutable

build-api:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on: []
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl api -am

build-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-api
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip -Dmaven.test.skip install -pl service

build-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn build --no-progress --configuration=production

test-service:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-service
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - DOCKER_HOST=tcp://$(docker run --rm --network host debian:stable-slim hostname -I | tr ' ' '\n' | grep 10.42):2375
  ...

test-app:
  image: ghcr.io/grayc-de/plugins/node:20
  depends_on:
  - preload-yarn
  directory: app
  commands:
  - yarn test --no-progress --no-watch
  failure: ignore

image:
  image: ghcr.io/grayc-de/plugins/maven
  depends_on:
  - build-service
  - build-app
  environment:
  - DOCKER_HOST=tcp://inoa-dockerd-verify:2375
  - TESTCONTAINERS_RYUK_DISABLED=true
  commands:
  - mvn -Dcheck.skip install -pl image

fixed kustomization path mistake
  test/src/test/k3s/dev/grafana/dashboards/kustomization.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

linted
  app/src/app/ems-dashboard/ems-dashboard.component.ts
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
  inoa-startup.bat
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

changed a dashboard
  inoa-startup.bat
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

Fixed endpoints to be enabled in all environments. (#158)
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
  service/src/main/resources/application-k3s.yaml
  service/src/main/resources/application.yaml
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Reconfigured endpoints to fit to current config. (#159)
  fluxcd/base/inoa/deployment.yaml
Due: kustomize

INOA-382: Gravatar WhoamiBox Integration (#155)
  app/package.json
  app/src/app/whoami-box/whoami-box.component.css
  app/src/app/whoami-box/whoami-box.component.html
  app/src/app/whoami-box/whoami-box.component.ts
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Condensed Flyway Files (#151)
  app/src/app/satellite-manager/gateway-table/gateway-table.component.css
  app/src/app/satellite-manager/satellite-manager.component.css
  app/src/app/satellite-manager/satellite-manager.component.html
  service/src/main/java/io/inoa/fleet/registry/domain/ConfigurationDefinition.java
  service/src/main/java/io/inoa/fleet/registry/domain/ConfigurationDefinitionRepository.java
  service/src/main/java/io/inoa/fleet/registry/domain/TenantConfiguration.java
  service/src/main/java/io/inoa/fleet/registry/domain/TenantConfigurationRepository.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/ConfigurationController.java
  service/src/main/java/io/inoa/fleet/registry/rest/mapper/ConfigurationMapper.java
  service/src/main/java/io/inoa/fleet/registry/service/ConfigurationService.java
  service/src/main/resources/application-k3s.yaml
  service/src/main/resources/db/migration/V001__schema.sql
  service/src/main/resources/db/migration/V002__tenant_data.sql
  service/src/main/resources/db/migration/V002__tenant_inoa.sql
  service/src/main/resources/db/migration/V003__measurement.sql
  service/src/main/resources/db/migration/V003__measurement_data.sql
  service/src/main/resources/db/migration/V004__configuration_data.sql
  service/src/main/resources/db/migration/V004__measurement_fix.sql
  service/src/main/resources/db/migration/V005__new_schema_for_plusplugS.sql
  service/src/main/resources/db/migration/V006__new_schema_for_abb-b23.sql
  service/src/main/resources/db/migration/V007__remove_tenant_configurations.sql
  service/src/main/resources/db/migration/V008__protocol_on_thing_types.sql
  service/src/main/resources/db/migration/V009__new_schema_for_sct-013.sql
  service/src/main/resources/db/migration/V010__update_schema_s0_port_enum.sql
  service/src/test/java/io/inoa/fleet/Data.java
  service/src/test/java/io/inoa/fleet/registry/rest/gateway/GatewayApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/ConfigurationApiTest.java
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update docker.io/library/influxdb Docker tag to v2.7.10
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

INOA-381_publish-techdocs (#174)
  .woodpecker/techdocs.yaml
  docs/backstage/system-inoa.yaml
  docs/techdocs/docs/06_runtime_view/dataflows.drawio-telemetry-dark.svg
  docs/techdocs/mkdocs.yml
Due: none

INOA-381_backstage-docs (#175)
  docs/backstage/api-inoa-fleet.yaml
  docs/backstage/api-inoa-hawkbit.yaml
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-groundcontrol.yaml
  docs/backstage/component-inoa-hawkbit.yaml
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/component-inoa-keycloak.yaml
  docs/backstage/component-inoa-postgres.yaml
  docs/backstage/domain-inoa.yaml
  docs/backstage/resource-keycloak-realm.yaml
  docs/backstage/system-inoa-cloud.yaml
  docs/backstage/system-inoa.yaml
  docs/techdocs/docs/05_building_block_view/index.md
  docs/techdocs/docs/06_runtime_view/index.md
Due: none

INOA-381_backstage-docs (#176)
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/component-inoa-keycloak.yaml
  docs/backstage/component-inoa-postgres.yaml
  docs/backstage/system-inoa-cloud.yaml
Due: none

INOA-381 Added developer doc inside repository. (#177)
  .run/INOA-Fleet-Service.run.xml
  README.md
  app/README.md
  docs/assets/launch-fleet.png
  docs/assets/launch-groundcontrol.png
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-groundcontrol.yaml
  docs/backstage/system-inoa-cloud.yaml
  service/README.md
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency mkdocs-awesome-pages-plugin to v2.9.3
  .woodpecker/plugin/requirements.txt
Due: plugin

Update dependency plantuml-markdown to v3.9.8
  .woodpecker/plugin/requirements.txt
Due: plugin

Update dependency mkdocs-enumerate-headings-plugin to v0.6.2
  .woodpecker/plugin/requirements.txt
Due: plugin

ems data now aggregates to nice aligned 15m buckets and the power graph stacks all timeseries together to show a display of true power
  app/src/app/ems-dashboard/ems-dashboard.component.html
  test/src/test/k3s/dev/grafana/dashboards/ems/inoa-ems-power-data.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

savepoint
  app/src/app/ems-dashboard/ems-dashboard.component.html
  node_modules/.yarn-integrity
  pom.xml
  test/src/test/k3s/dev/grafana/kustomization.yaml
  yarn.lock
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, test-app, image, integration-prepare, integration-test, integration-errors

dashboard embedding now works in firefox (chrome remains stubborn)
  .woodpecker/techdocs.yaml
  app/README.md
  app/src/app/ems-dashboard/ems-dashboard.component.html
  docs/backstage/api-inoa-fleet.yaml
  docs/backstage/api-inoa-hawkbit.yaml
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-groundcontrol.yaml
  docs/backstage/component-inoa-hawkbit.yaml
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/component-inoa-keycloak.yaml
  docs/backstage/component-inoa-postgres.yaml
  docs/backstage/system-inoa-cloud.yaml
  docs/techdocs/README.md
  docs/techdocs/docs/08_concepts/environments/index.md
  docs/techdocs/docs/08_concepts/satellite-configuration/index.md
  docs/techdocs/docs/08_concepts/thing-types/index.md
  docs/techdocs/docs/09_architecture_decisions/ADR001-record-architecture-decisions.md
  docs/techdocs/docs/09_architecture_decisions/index.md
  docs/techdocs/docs/11_technical_risks/index.md
  docs/techdocs/docs/index.md
  test/src/test/k3s/test/keycloak/realm.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

now also works in chrome
  test/src/test/k3s/dev/grafana/kustomization.yaml
Due: preload-images, preload-yarn, build-api, build-service, build-app, image, integration-prepare, integration-test, integration-errors

added the sslReuired none config to the realm.json
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/satellite-manager/gateway-detail/gateway-detail.component.ts
  test/src/test/k3s/test/keycloak/realm.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

grafana dashboard link now derived from the current url
  app/src/app/ems-dashboard/ems-dashboard.component.html
  app/src/app/ems-dashboard/ems-dashboard.component.ts
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Add component diagram for thingtypes
  docs/assets/puml/thingtypes.puml
Due: none

Update dependency org.projectlombok:lombok to v1.18.36
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

INOA-381 Fixing linting errors & added ADR (#178)
  .woodpecker/lint.yaml
  .woodpecker/techdocs.yaml
  .woodpecker/verify.yaml
  docs/backstage/component-inoa-fleet.yaml
  docs/backstage/component-inoa-hawkbit.yaml
  docs/backstage/component-inoa-influxdb.yaml
  docs/backstage/component-inoa-kafka.yaml
  docs/backstage/system-inoa-cloud.yaml
  docs/techdocs/README.md
  docs/techdocs/docs/09_architecture_decisions/ADR002-linting-tools.md
  docs/techdocs/docs/09_architecture_decisions/index.md
  docs/techdocs/docs/images/run-techdocs.png
  docs/techdocs/docs/index.md
  inoa-startup.sh
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency org.keycloak.bom:keycloak-bom-parent to v25.0.6
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.kokuwa.maven:maven-parent to v0.6.17
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency io.micronaut.data:micronaut-data-processor to v4.8.5
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @angular/cli to v18.1.4 (#185)
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Group npm dependencies for renovate
  renovate.json
Due: none

Update docker.io/redpandadata/console Docker tag to v2.7.2
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize

Update Yarn to v4.5.1
  app/package.json
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @angular to v18.1.5
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @angular-eslint to v18.3.1
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency @angular/cli to ~18.2.0
  app/package.json
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update version.org.mapstruct to v1.6.3
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Update dependency @angular-devkit/build-angular to v18.1.4
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update @ngx-formly to v6.3.10
  app/yarn.lock
Due: build, preload-images, preload-yarn, build-api, build-service, build-app, test-app, image, integration-prepare, integration-test, integration-errors

Update dependency com.influxdb:influxdb-client-java to v7.2.0
  pom.xml
Due: build, maven, preload-images, preload-yarn, build-api, build-service, build-app, test-service, image, integration-prepare, integration-test, integration-errors

Path conditions:
  build: any of: .woodpecker/build.yaml, api/**, app/**, service/**, image/**, pom.xml, lombok.config
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  maven: any of: **/*.java, **/pom.xml
  plugin: any of: .woodpecker/plugin.yaml, .woodpecker/plugin/*
  preload-images: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  preload-yarn: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-api: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-service: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  build-app: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  test-service: any of: pom.xml, api/**, service/**
  test-app: any of: app/**
  image: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-prepare: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-test: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
  integration-errors: any of: api/**, app/**, service/**, image/**, test/**, pom.xml, lombok.config
