Repository inoa-io/inoa-cloud: changes, and which Woodpecker steps are due for each by the changed paths.
All: backstage, kustomize, markdown, shell, yaml

backstage:
  image: ghcr.io/grayc-de/plugins/backstage-entity-validator
  depends_on: []

kustomize:
  image: ghcr.io/grayc-de/plugins/kubectl
  depends_on: []
  commands:
  - kubectl kustomize ./fluxcd/live

markdown:
  image: ghcr.io/grayc-de/plugins/markdownlint
  depends_on: []

shell:
  image: ghcr.io/grayc-de/plugins/shellcheck
  depends_on: []

yaml:
  image: ghcr.io/grayc-de/plugins/yamllint
  depends_on: []

Add initial backstage yamls (#1)
  .woodpecker/lint.yaml
  catalog-info.yaml
Due: backstage, yaml

Flux: add transformer for secret names in cloudsql user crds (#4)
  fluxcd/base/fluxcd/kustomization.yaml
  fluxcd/base/fluxcd/transformer.yaml
  fluxcd/live/kustomization.yaml
Due: kustomize, yaml

Flux: add influxdb as singleton (#5)
  fluxcd/.sops.yaml
  fluxcd/base/influxdb/deployment.yaml
  fluxcd/base/influxdb/kustomization.yaml
  fluxcd/base/influxdb/pvc.yaml
  fluxcd/base/influxdb/service.yaml
  fluxcd/live/prod/influxdb/config.env
  fluxcd/live/prod/influxdb/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: add kafka with 3 replicas and persistence (#7)
  fluxcd/base/kafka/kustomization.yaml
  fluxcd/base/kafka/pdb.yaml
  fluxcd/base/kafka/pvc.yaml
  fluxcd/base/kafka/service.yaml
  fluxcd/base/kafka/statefulset.yaml
  fluxcd/live/prod/kafka/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: add kafka ui solutions (#11)
  fluxcd/base/kafdrop/deployment.yaml
  fluxcd/base/kafdrop/ingress.yaml
  fluxcd/base/kafdrop/kustomization.yaml
  fluxcd/base/kafdrop/service.yaml
  fluxcd/base/kafka-console/deployment.yaml
  fluxcd/base/kafka-console/ingress.yaml
  fluxcd/base/kafka-console/kustomization.yaml
  fluxcd/base/kafka-console/service.yaml
  fluxcd/base/kafka-ui/deployment.yaml
  fluxcd/base/kafka-ui/ingress.yaml
  fluxcd/base/kafka-ui/kustomization.yaml
  fluxcd/base/kafka-ui/service.yaml
  fluxcd/live/prod/kafdrop/kustomization.yaml
  fluxcd/live/prod/kafka-console/kustomization.yaml
  fluxcd/live/prod/kafka-ui/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: add inoa fleet (#12)
  fluxcd/base/inoa-fleet/certificate.yaml
  fluxcd/base/inoa-fleet/cloudsql.yaml
  fluxcd/base/inoa-fleet/deployment.yaml
  fluxcd/base/inoa-fleet/ingress.yaml
  fluxcd/base/inoa-fleet/kustomization.yaml
  fluxcd/base/inoa-fleet/service.yaml
  fluxcd/live/prod/inoa-fleet/config.env
  fluxcd/live/prod/inoa-fleet/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: add inoa measurement
  fluxcd/base/inoa-measurement/cloudsql.yaml
  fluxcd/base/inoa-measurement/deployment.yaml
  fluxcd/base/inoa-measurement/ingress.yaml
  fluxcd/base/inoa-measurement/kustomization.yaml
  fluxcd/base/inoa-measurement/service.yaml
  fluxcd/live/prod/inoa-measurement/config.env
  fluxcd/live/prod/inoa-measurement/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: add prefix to pv because name is global
  fluxcd/base/influxdb/kustomization.yaml
  fluxcd/base/kafka/kustomization.yaml
  fluxcd/live/prod/influxdb/kustomization.yaml
  fluxcd/live/prod/influxdb/pvc.yaml
  fluxcd/live/prod/kafka/kustomization.yaml
  fluxcd/live/prod/kafka/pvc.yaml
Due: kustomize, yaml

Flux: adjust pdb kafka
  fluxcd/base/kafka/pdb.yaml
Due: kustomize, yaml

Flux: add dev environment
  fluxcd/live/dev/influxdb/config.env
  fluxcd/live/dev/influxdb/kustomization.yaml
  fluxcd/live/dev/influxdb/pvc.yaml
  fluxcd/live/dev/inoa-fleet/config.env
  fluxcd/live/dev/inoa-fleet/kustomization.yaml
  fluxcd/live/dev/inoa-measurement/config.env
  fluxcd/live/dev/inoa-measurement/kustomization.yaml
  fluxcd/live/dev/kafdrop/kustomization.yaml
  fluxcd/live/dev/kafka-console/kustomization.yaml
  fluxcd/live/dev/kafka-ui/kustomization.yaml
  fluxcd/live/dev/kafka/kustomization.yaml
  fluxcd/live/dev/kafka/pvc.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/kustomization.yaml
Due: kustomize, yaml

Flux: split live into prod and dev
  .woodpecker/lint.yaml
  fluxcd/kiste/kustomization.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: scale down kafdrop and ui
  fluxcd/base/kafdrop/deployment.yaml
  fluxcd/base/kafka-ui/deployment.yaml
Due: kustomize, yaml

Flux: scale prod to 0
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Flux: manage ingress path for fleet and measurement
  fluxcd/base/inoa-fleet/certificate.yaml
  fluxcd/base/inoa-fleet/deployment.yaml
  fluxcd/base/inoa-fleet/ingress.yaml
  fluxcd/base/inoa-measurement/ingress.yaml
Due: kustomize, yaml

Maven: make k3s host configurable (#15)
  fluxcd/base/inoa-fleet/ingress.yaml
Due: kustomize, yaml

Maven: add checks to lint worklflow (#17)
  .woodpecker/lint.yaml
Due: yaml

Maven: remove dependency between services (#16)
  inoa-measurement/pom.xml
Due: none

Maven: make k3s host configurable (#15)
  inoa-test/pom.xml
  inoa-test/src/test/java/io/inoa/test/GatewayIT.java
  inoa-test/src/test/java/io/inoa/test/junit/AbstractTest.java
  inoa-test/src/test/k3s/dev/infrastructure/grafana/ingress.yaml
  inoa-test/src/test/k3s/dev/infrastructure/grafana/kustomization.yaml
  inoa-test/src/test/k3s/dev/infrastructure/help/ingress.yaml
  inoa-test/src/test/k3s/dev/observability/kafdrop/ingress.yaml
  inoa-test/src/test/k3s/dev/observability/kubernetesui/dashboard/ingress.yaml
  inoa-test/src/test/k3s/dev/observability/swaggerui/ingress.yaml
  inoa-test/src/test/k3s/test/infrastructure/hawkbit/ingress.yaml
  inoa-test/src/test/k3s/test/infrastructure/influxdb/ingress.yaml
  inoa-test/src/test/k3s/test/infrastructure/keycloak/files/inoa-realm.json
  inoa-test/src/test/k3s/test/infrastructure/keycloak/ingress.yaml
  inoa-test/src/test/k3s/test/infrastructure/traefik/ingress.yaml
  inoa-test/src/test/k3s/test/inoa/fleet/R__data.sql
  inoa-test/src/test/k3s/test/inoa/fleet/deployment.yaml
  inoa-test/src/test/k3s/test/inoa/fleet/ingress.yaml
  inoa-test/src/test/k3s/test/inoa/fleet/kustomization.yaml
  inoa-test/src/test/k3s/test/inoa/groundcontrol/ingress.yaml
  inoa-test/src/test/k3s/test/inoa/measurement/ingress.yaml
  inoa-test/src/test/resources/application-test.yaml
Due: yaml

CI: add ci verify/build (#19)
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .woodpecker/verify.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
  inoa-test/pom.xml
Due: kustomize, yaml

Remove unused fields/imports (#23)
  service/src/main/java/io/inoa/fleet/ota/HawkbitClientFilter.java
  service/src/main/java/io/inoa/fleet/registry/rest/mapper/ConfigurationMapper.java
  service/src/main/java/io/inoa/fleet/remoting/rest/RemoteController.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingTypesController.java
  service/src/test/java/io/inoa/fleet/monitoring/LogEventListenerTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/GatewaysApiTest.java
  service/src/test/java/io/inoa/fleet/registry/rest/management/TenantApiTest.java
Due: none

Bump versions (#27)
  pom.xml
Due: none

Simplify test setup for database (#24)
  .woodpecker/verify.yaml
  service/pom.xml
  service/src/main/resources/application-postgres.yaml
  service/src/main/resources/application.yaml
  service/src/test/resources/application-postgres.yaml
  service/src/test/resources/application-test.yaml
  test/src/test/k3s/test/inoa/kustomization.yaml
Due: yaml

Adjust deployment to merged projects (#25)
  .woodpecker/verify.yaml
  fluxcd/base/inoa-fleet/cloudsql.yaml
  fluxcd/base/inoa-fleet/deployment.yaml
  fluxcd/base/inoa-fleet/ingress.yaml
  fluxcd/base/inoa-measurement/kustomization.yaml
  fluxcd/base/inoa-measurement/service.yaml
  fluxcd/base/inoa/certificate.yaml
  fluxcd/base/inoa/cloudsql.yaml
  fluxcd/base/inoa/deployment.yaml
  fluxcd/base/inoa/ingress.yaml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/base/inoa/service.yaml
  fluxcd/live/dev/inoa-fleet/config.env
  fluxcd/live/dev/inoa-fleet/kustomization.yaml
  fluxcd/live/dev/inoa-measurement/config.env
  fluxcd/live/dev/inoa/config.env
  fluxcd/live/dev/inoa/kustomization.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/inoa-fleet/config.env
  fluxcd/live/prod/inoa-measurement/config.env
  fluxcd/live/prod/inoa-measurement/kustomization.yaml
  fluxcd/live/prod/inoa/config.env
  fluxcd/live/prod/inoa/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Restart inoa deployment to get new version (#28)
  .woodpecker/build.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/dev/service-account/kustomization.yaml
  fluxcd/live/dev/service-account/rbac.yaml
Due: kustomize, yaml

Replace unmaintained awaitility with single local class (#30)
  api/src/test/java/io/inoa/Await.java
  pom.xml
  service/pom.xml
  service/src/test/java/io/inoa/fleet/broker/TestKafkaListener.java
  service/src/test/java/io/inoa/fleet/broker/TestMqttListener.java
  service/src/test/java/io/inoa/fleet/registry/messaging/ConnectionEventListenerTest.java
  service/src/test/java/io/inoa/fleet/remoting/RemotingServiceTest.java
  test/pom.xml
  test/src/test/java/io/inoa/test/client/InfluxDBClient.java
Due: none

Regenerate files after generator update (#35)
  api/.openapi-generator-ignore
  api/gen/main/java/io/inoa/rest/ConfigurationDefinitionIntegerAllOfVO.java
  api/gen/main/java/io/inoa/rest/ConfigurationDefinitionStringAllOfVO.java
  api/gen/main/java/io/inoa/rest/RpcCommandVO.java
  api/gen/main/java/io/inoa/rest/TelemetryVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/ArtifactUploadResponseLinksVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/ArtifactUploadResponseVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/DistributionSetCreationRequestPartVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/DistributionSetCreationResponsePartVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/SoftwaremoduleCreatetionRequestPartVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/SoftwaremoduleSearchResponseVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/TargetsCreationRequestPartVO.java
  api/gen/main/java/org/eclipse/hawkbit/model/TargetsSearchResponseVO.java
  api/pom.xml
  inoa-groundcontrol/ui/src/gen/api/configuration.service.ts
  inoa-groundcontrol/ui/src/gen/api/credentials.service.ts
  inoa-groundcontrol/ui/src/gen/api/gateway.service.ts
  inoa-groundcontrol/ui/src/gen/api/gateways.service.ts
  inoa-groundcontrol/ui/src/gen/api/groups.service.ts
  inoa-groundcontrol/ui/src/gen/api/properties.service.ts
  inoa-groundcontrol/ui/src/gen/api/remote.service.ts
  inoa-groundcontrol/ui/src/gen/api/tenants.service.ts
  inoa-groundcontrol/ui/src/gen/api/thingTypes.service.ts
  inoa-groundcontrol/ui/src/gen/api/things.service.ts
  inoa-groundcontrol/ui/src/gen/model/configurationDefinitionIntegerAllOf.ts
  inoa-groundcontrol/ui/src/gen/model/configurationDefinitionStringAllOf.ts
  inoa-groundcontrol/ui/src/gen/model/rpcCommand.ts
Due: none

Suppress existing warnings to make new issues visible (#37)
  pom.xml
  service/src/main/java/io/inoa/fleet/broker/handler/ConnectionHandler.java
  service/src/main/java/io/inoa/fleet/broker/handler/MessageHandler.java
  service/src/main/java/io/inoa/fleet/broker/handler/SubscriptionHandler.java
  service/src/main/java/io/inoa/fleet/registry/messaging/ConnectionEventListener.java
  service/src/main/java/io/inoa/fleet/registry/rest/management/Security.java
  service/src/main/java/io/inoa/measurement/things/builder/ThingMapper.java
  service/src/main/java/io/inoa/measurement/things/builder/ThingTypeMapper.java
  service/src/main/java/io/inoa/measurement/things/builder/http/ShellyBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/DvModbusIRBuilder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusBuilderBase.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusDVH4013Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/modbus/ModbusMDVH4006Builder.java
  service/src/main/java/io/inoa/measurement/things/builder/s0/S0Builder.java
  service/src/main/java/io/inoa/measurement/things/rest/Security.java
  service/src/main/java/io/inoa/measurement/things/rest/ThingsController.java
  service/src/main/java/io/inoa/measurement/translator/converter/common/JsonPathConverter.java
  service/src/test/java/io/inoa/measurement/translator/messaging/MessagingSink.java
Due: none

`fluxcd`: add hawkbit to inoa (#43)
  fluxcd/base/hawkbit/cloudsql.yaml
  fluxcd/base/hawkbit/deployment.yaml
  fluxcd/base/hawkbit/ingress.yaml
  fluxcd/base/hawkbit/kustomization.yaml
  fluxcd/base/hawkbit/logback-spring.xml
  fluxcd/base/hawkbit/service.yaml
  fluxcd/base/inoa/kustomization.yaml
  fluxcd/live/dev/hawkbit/config.env
  fluxcd/live/dev/hawkbit/kustomization.yaml
  fluxcd/live/dev/kustomization.yaml
  fluxcd/live/prod/hawkbit/config.env
  fluxcd/live/prod/hawkbit/kustomization.yaml
  fluxcd/live/prod/kustomization.yaml
Due: kustomize, yaml

Replace external influxdb factory with internal factory (#39)
  pom.xml
  service/pom.xml
  service/src/main/java/io/inoa/measurement/exporter/influx/InfluxDBFactory.java
  service/src/main/java/io/inoa/measurement/exporter/influx/InfluxDBHealthIndicator.java
  test/pom.xml
  test/src/test/java/io/inoa/test/client/InfluxDBClient.java
  test/src/test/resources/application-test.yaml
Due: yaml

`fluxcd`: add empty kustomizations for kiste (as preparation for mcnoize) (#44)
  fluxcd/kiste/dev/kustomization.yaml
  fluxcd/kiste/prod/kustomization.yaml
Due: kustomize, yaml

Add client for mcnoize (#42)
  test/src/test/k3s/test/keycloak/realm.json
Due: none

`fluxcd`: reviewed resources (#45)
  fluxcd/base/inoa/deployment.yaml
  fluxcd/base/kafka/statefulset.yaml
Due: kustomize, yaml

Replace kafka in unittests with mocks (#38)
  .woodpecker/verify.yaml
  service/pom.xml
  service/src/main/java/io/inoa/fleet/registry/messaging/ConnectionEventListener.java
  service/src/test/java/io/inoa/AbstractUnitTest.java
  service/src/test/java/io/inoa/KafkaSink.java
  service/src/test/java/io/inoa/fleet/broker/ConnectTest.java
  service/src/test/java/io/inoa/fleet/broker/MqttAssertions.java
  service/src/test/java/io/inoa/fleet/broker/TelemetryTest.java
  service/src/test/java/io/inoa/fleet/broker/TestKafkaListener.java
  service/src/test/java/io/inoa/fleet/registry/messaging/ConnectionEventListenerTest.java
  service/src/test/java/io/inoa/fleet/registry/messaging/ConnectionEventProducer.java
  service/src/test/java/io/inoa/measurement/translator/messaging/MessagingSink.java
  service/src/test/java/io/inoa/measurement/translator/service/TranslateListenerTest.java
  service/src/test/resources/application-test.yaml
Due: yaml

`fluxcd`: add mcnoize for inoa-dev (#48)
  fluxcd/kiste/dev/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/config.env
  fluxcd/kiste/dev/mcnoize/kustomization.yaml
  fluxcd/kiste/dev/mcnoize/statefulset.yaml
Due: kustomize, yaml

`fluxcd`: fix mqtt service (#49)
  fluxcd/base/inoa/service.yaml
Due: kustomize, yaml

Extract images into root pom and use the same image everywhere (#46)
  .woodpecker/verify.yaml
  pom.xml
  service/src/test/java/io/inoa/AbstractUnitTest.java
  service/src/test/resources/application-test.properties
  test/pom.xml
  test/src/test/k3s/dev/grafana/deployment.yaml
  test/src/test/k3s/dev/swagger-ui/deployment.yaml
  test/src/test/k3s/test/hawkbit/deployment.yaml
  test/src/test/k3s/test/influxdb/deployment.yaml
  test/src/test/k3s/test/inoa/deployment.yaml
  test/src/test/k3s/test/keycloak/deployment.yaml
  test/src/test/k3s/test/postgres/deployment.yaml
  test/src/test/k3s/test/traefik/deployment.yaml
Due: yaml

Use fixed ports for all mqtt tests in whole test suite (#47)
  service/src/test/java/io/inoa/AbstractUnitTest.java
Due: none

`influxdb`: added custom token with write permission only (was admin) (#51)
  fluxcd/live/dev/inoa/config.env
Due: kustomize

Path conditions:
  backstage: any of: catalog-info.yaml
  kustomize: any of: fluxcd/**
  markdown: any of: .markdownlint.yaml, .markdownlintignore, **/*.md
  shell: any of: **/*.sh
  yaml: any of: .yamllint.yaml, **/*.yaml
